[2021-01-22 20:01] openshift-merge-robot opened #3 "Future Release Branches Frozen For Merging | branch:release-4.8 branch:release-4.7"
The following branches are being fast-forwarded from the current development branch (main) as placeholders for future releases. No merging is allowed into these release branches until they are unfrozen for production release.

 - `release-4.8`
 - `release-4.7`

Contact the [Test Platform](https://coreos.slack.com/messages/CBN38N3MW) or [Automated Release](https://coreos.slack.com/messages/CB95J6R4

[2021-01-26 15:20] #3 closed

[2021-02-02 03:48] csrwng opened #9 "Wrong security groups on machines created from nodepool"
The default security group gets assigned to machines created from a nodepool instead of the expected
`[parent-infra]-worker-sg`.
This results in management cluster nodes not being able to communicate with the hosted cluster machines.
In addition to that, the current CAPI AWS provider doesn't honor a name filter for security groups. It expects that the ID is specified in the template, causing a pan

[2021-02-02 03:49] csrwng commented on #9
/assign @enxebre

[2021-02-02 17:04] sjenning opened #10 "NodePool NodeCount doesn't match MachineSet Replicas"
[code]
This code should be syncing the two
https://github.com/openshift/hypershift/blob/main/hypershift-operator/controllers/nodepool_controller.go#L161-L165

[2021-02-02 17:05] sjenning commented on #10
Note, I am not using the default node pool.  My OCS `initialComputeReplicas` is 0 and I'm creating my own NodePool.

Logs in the operator show this in a loop
[code]

[2021-02-03 18:23] sjenning commented on #10
Did some digging and this is because we are using `AvailableReplicas` in the `MachineSet` `status` which only includes Machines that have a NodeRef in their status.  The phase for Machines created by our MachineSets (created by the NodePool) is persistently `Provisioning` with a `NodeHealthy` condition of `False` with reason `WaitingForNodeRef`.

[2021-02-19 17:57] ironcladlou opened #55 "Unnecessary transitive dependencies now limiting our ability to move independently of unrelated projects"
Unnecessary transitive dependencies have crept in and are now limiting our ability to move independently of unrelated projects.

HyperShift depends on several upstream libraries using Go modules, including:

* k8s.io/client-go
* sigs.k8s.io/controller-runtime
* k8s.io/api

HyperShift also depends on the following Go modules for the purpose of having Go types representing the third-party CRD APIs w

[2021-02-19 17:58] ironcladlou commented on #55
cc @csrwng @sjenning @enxebre @derekwaynecarr @elmiko

[2021-02-19 18:00] ironcladlou commented on #55
If you want to see where this has led us, try to update the following dependencies on `main`:

[code]

And observe the fallout through trying to compile (see `go mod graph`)

[2021-02-22 15:50] ironcladlou commented on #55
Regarding this approach:

https://github.com/OpenAPITools/openapi-generator
https://github.com/deepmap/oapi-codegen
https://github.com/deepmap/oapi-codegen#whats-missing-or-incomplete

I've played with OpenAPITools/openapi-generator some, and the problems I've encountered are serious:

* Getting the v3 openapi schema for any types at all from the cluster isn't implemented (only v2 is accessible)
*

[2021-02-22 16:17] elmiko commented on #55
thanks for the detailed explanation @ironcladlou , i'm going to bring up a discussion of modules and openapi generated code in the capi meeting this week. is there any extra detail you could give about the manually constructed schema you created, what were the sticking points? anything you would like us to highlight with upstream?

[2021-02-22 18:47] ironcladlou commented on #55
@elmiko

The problems I had with the OpenAPI->Go approach were more to do with k8s itself. There's no tooling I can find to go from a serialized CRD to OpenAPIv3 schema suitable for processing by any tools I've found so far. And the apiserver will only present me with a complete OpenAPIv2 spec for every type in the cluster. It's the latter I was able to pick apart and feed into tools. The output I

[2021-02-22 19:55] #55 closed

[2021-02-23 14:04] ironcladlou opened #63 "e2e test definitions should specify timeouts and grace periods"
Following the [CI docs](https://docs.ci.openshift.org/docs/architecture/timeouts/), the hypershift e2e tests need updated to specify timeouts and grace periods. According to [historical runs](https://docs.ci.openshift.org/docs/architecture/timeouts/), 1h15m seems like enough for a hard timeout. Cluster deletion takes a while, so a lengthy grace period (10m? 15m?) might be necessary — would be wort

[2021-02-23 14:06] ironcladlou opened #64 "Ensure e2e always cleans up in response to SIGINT and SIGTERM"
The e2e suite needs audited to ensure it properly response to SIGINT and SIGTERM by cleaning up any cluster resources created during the test. This finalization already occurs in response to errors during the normal course of the process, but I think signal handling may be deficient.

Related to https://github.com/openshift/hypershift/issues/63 in that we want to ensure that if we are timed out or

[2021-02-24 15:57] ironcladlou opened #68 "Makefile verify target should validate generated code"
The Makefile `verify` target needs to verify that a given commit hasn't forgotten to execute `make api` to prevent regressions like https://github.com/openshift/hypershift/pull/67.

[2021-02-24 15:58] ironcladlou opened #69 "Makefile verify target should validate Go modules"
The Makefile `verify` target needs to perform some Go module validation (e.g. `go mod vendor` and `go tidy`) to detect when a commit changes dependencies but forgot to run those commands.

[2021-02-24 19:07] #68 closed

[2021-02-24 19:07] #69 closed

[2021-03-05 17:32] sjenning opened #83 "autoscaler is overprivileged in the guest cluster"
autoscaler is currently using the `cluster-admin` kubeconfig for the guest cluster.

We should create a separate kubeconfig with a tight set of permissions for it to use.

@elmiko

[2021-03-05 17:34] sjenning opened #84 "autoscaler should use the service network to communcate with guest kube-apiserver"
related to #83 the autoscaler kubeconfig should use the service network to talk to the guest kube-apiserver, not the external API endpoint

@elmiko

[2021-03-23 12:37] ironcladlou commented on #64
https://github.com/openshift/hypershift/pull/106

[2021-03-23 12:37] #64 closed

[2021-03-23 12:38] ironcladlou commented on #10
Pretty sure this has been solved.

[2021-03-23 12:38] #10 closed

[2021-03-23 12:38] ironcladlou commented on #63
Fixed

[2021-03-23 12:38] #63 closed

[2021-03-23 18:16] ironcladlou opened #126 "Define and implement explicit cloud permission model on AWS"
We must define and codify the AWS policy requirements so users know what permissions they're granting HyperShift to provide managed clusters.

Currently we don't explicitly define the AWS IAM policy or policies necessary for HyperShift to work. With a codified definition of the requirements, we can more easily get user feedback about whether the policies are acceptable.

This issue tracks effort t

[2021-03-24 13:52] csrwng opened #130 "ROKS Requirements for Hypershift"
Requirements:

- [ ] Authentication for MCO
- [ ] NodePort services in control plane
- [ ] Adopt cluster/byo etcd/pki

## Authentication for Machine Config Server:
### Current
Machine Config server has no authentication and anyone that has network access to the server can download sensitive cluster payload

### Solution:
Will add a haproxy sidecar that verifies a token url parameter that correspon

[2021-03-24 14:01] csrwng commented on #130
@openshift/team-hypershift-maintainers this issue is to track the requirements for ROKS on hypershift and to contain any discussion/questions that come from them.
@relyt0925 created this issue from your document. So we can minimize churn with your PRs, let's discuss how we want to solve the problems here and then update the PRs appropriately.

[2021-03-24 14:36] relyt0925 commented on #130
You got it sir!

[2021-03-30 16:30] relyt0925 commented on #130
@csrwng how would you like to go about working a potentially solution for node port support. That was from this PR:
https://github.com/openshift/hypershift/pull/89

[2021-03-30 17:20] csrwng commented on #130
Definitely, let's tackle the NodePort one first. Some questions that I still had about it are:
- Does it make sense for it to be a per-cluster thing or should it be a global operator config type of thing (whether to use NodePort or LoadBalancer type services)? Do we foresee a single management cluster allowing both NodePort and LoadBalancer type services? Does the hostname vary per child cluster w

[2021-03-30 21:58] relyt0925 commented on #130
My perspective:
1) In practice: I forsee for the vast majority of time one strategy in action: The only caveat I would add is if I was trying to predict the future I do foresee the potential on a version update of ROKS (aka 4.9 to 4.10 or whatever) of clusters moving to a different strategy if a better one is developed in the future. Like for example new capabilities lead to a want to move from a

[2021-03-31 19:03] csrwng commented on #130
@relyt0925 it sounds like what @ironcladlou had [suggested](https://github.com/openshift/hypershift/pull/89#discussion_r591990394) should be good enough, with the addition that we want to optionally allow specifying the port numbers, like:
[code]
@openshift/team-hypershift-maintainers ^^

@relyt0925 I do want to understand the adoption case a little better. So far it's been fairly straightforward

[2021-03-31 19:42] relyt0925 commented on #130
That's a fantastic question @csrwng

In general: it needs to maintain all "per cluster" config that you would expect to be maintained across an update boundary. Tangibly what that means in our case is basically the current state of the cluster (enabled features/ existing certs/ etc) need to be taken into the automation and not destroyed.

At a very basic level from my perspective that is:
- Certs/

[2021-04-06 04:01] relyt0925 commented on #130
@csrwng refactored PR up

[2021-04-11 22:34] relyt0925 opened #147 "Resource leak: secrets in the hostedCluster namespace stay behind after delete"
After I deleted my managed cluster with `kubectl -n master delete hostedcluster clusteridtylergo1`: resources in the master namespace corresponding to the cluster still are present. Specifically
[code]

The hosted cluster no longer exists
[code]

[2021-04-13 15:41] relyt0925 commented on #147
These resources are not expected to get auto deleted when the hostedcluster is deleted and instead should det deleted/created out of band.

[2021-04-13 15:41] #147 closed

[2021-04-13 18:37] screeley44 opened #150 "Minor fixes to the README"
Fixing a missing linebreak in the `hypershift create cluster ...` command
adding a few outputs to show expected results for the commands
and adding a trouble shooting section

[2021-04-13 18:53] screeley44 opened #152 "Should hypershift destroy remove the clusters/[Name]-pull-secret"
If you run the `hypershift destroy cluster ...` command it doesn't clean up the `clusters\example-pull-secret` - which means on a subsequent run to recreate your cluster (maybe there was an issue and want to start over) the same potentially bad pull-secret is in the cluster.

Should destroy also clean this on each run since we *require* the `--pull-secret` parameter on the `create cluster` command

[2021-04-14 17:25] dciancio opened #156 "Hypershift install on my AWS cluster generates a panic"
Installing the operator as follows fails:

[code]

Installing it using this method works fine and creates all the required resources:
[code]

Any ideas what could be wrong?

[2021-04-14 18:27] dciancio opened #157 "RegionMap error when deploying hosted cluster to non-US region"
I get following error when trying to deploy a hosted cluster to a region other than us-east-1.

[code]

[2021-04-15 09:50] #150 closed

[2021-04-16 21:43] relyt0925 commented on #130
Refactor #2 is here:
https://github.com/openshift/hypershift/pull/163

[2021-04-19 19:45] csrwng commented on #157
/assign @ironcladlou

[2021-04-21 20:48] csrwng opened #174 "Autoscaler/CAPI should use local service kubeconfig"
For CAPI/autoscaler we are currently using the kubeconfig that has an external address for the APIServer and going through the external load balancer for that access. We should only need to point to the local service.

[2021-04-21 20:48] csrwng commented on #174
/cc @bparees @enxebre

[2021-04-22 18:47] screeley44 commented on #152
actually after a destroy, all the secrets are left over in the `clusters` namespace

[code]

[2021-04-22 19:39] screeley44 commented on #152
is there a reason why hypershift doesn't clean these up in the `clusters` namespace?

[code]

[2021-04-22 20:14] ironcladlou commented on #152
IMO every secret the tooling itself creates should have an owner reference to the hostedcluster.

[2021-05-10 21:04] #9 closed

[2021-05-11 13:24] #126 closed

[2021-05-11 19:08] screeley44 commented on #152
closed by #209

[2021-05-13 14:30] ironcladlou opened #215 "Hosted control plane is missing cluster ingress configuration"
A new hosted control plane's `ingresses.config.openshift.io/cluster` resource has an empty `.spec.domain` value. This breaks the ability to create a hosted cluster within a hosted cluster because the OIDC endpoint can't be discovered as a function of the cluster ingress domain.

This is a regression introduced by https://github.com/openshift/hypershift/pull/196.

[2021-05-13 14:31] ironcladlou commented on #215
I think this manifest is missing entirely from the control plane operator, but I haven't looked too closely yet.

[2021-05-13 15:24] sjenning commented on #215
yeah, installer creates this
https://github.com/openshift/installer/blob/6d778f911e79afad8ba2ff4301eda5b5cf4d8e9e/pkg/asset/manifests/ingress.go#L80-L95

[2021-05-13 15:26] sjenning commented on #215
we are creating the IngressController but not the top level global ingress config
https://github.com/openshift/hypershift/blob/main/control-plane-operator/controllers/hostedcontrolplane/assets/cluster-bootstrap/cluster-ingress-02-config.yaml

[2021-05-13 15:46] sjenning commented on #215
should be fixed by https://github.com/openshift/hypershift/pull/216

[2021-05-13 16:01] #215 closed

[2021-05-13 19:29] relyt0925 commented on #130
closing this one in favor of more specific issues

[2021-05-13 19:38] relyt0925 opened #218 "RHCOS MVP: Machine Config Server authentication"
Since the machine config server has the potential to be a public endpoint and serves up cluster specific certificates and kube bootstrapping credentials we need some method to authorize access to the endpoint.

The discussed solution was adding a haproxy side car to the machine config server that parses a url parameter that must match the node bootstrapping token inside the cluster. The initial ig

[2021-05-13 19:38] relyt0925 commented on #218
/assign @relyt0925

[2021-05-13 19:44] relyt0925 opened #219 "MVP: Support integration with externally managed etcd"
There is a use case in which a customer may want to bring their own etcd instance managed in their own desired way outside of hypershift (database provider, etc). In order for hypershift to support this: the pieces around the deployment/reconciliation/ and managment of etcd need to be able to be enabled/disabled. That means that in certain deployments: the etcd controller should be able to be turn

[2021-05-13 19:44] relyt0925 commented on #219
/assign @relyt0925

[2021-05-13 19:47] relyt0925 opened #220 "MVP: IBM Cloud Metadata Integration"
We need to enhance the hypershift operator to be able to deploy the necessary configuration for IBM Cloud environments. This includes the adjustment of some cluster bootstrap CRDs to have the platform type set appropriately. It also includes setting the cloud-provider configuration in the kube components to be an external cloud provider (since IBM Cloud's Cloud controller manager is an external ou

[2021-05-14 16:18] relyt0925 commented on #219
Acceptance Critieria:
- [ ] Support for disabling etcd manifest installation at hypershift install time: specifically `etcdcluster`, `etcdbackups`, `etcdrestore`
- [ ] Support for disabling reconciliation of etcd in the control-plane-operator
- [ ] Support for configuring the master components (kube-apiserver, openshift-apiserver) to a given etcd cluster url

[2021-05-14 16:22] relyt0925 commented on #220
Acceptance criteria:
- [ ] Configure master components to be able to have a `external cloud provider` (IBM Cloud's cloud provider is out of tree)
- [ ] Ensure cluster bootstrap components have the proper platform/metadata set that ties it to an IBM Cloud provider

[2021-05-14 16:30] relyt0925 commented on #218
Acceptance Critieria:
- [ ] Ignition server exposed over https
- [ ] Authentication support in the machine config server to protect the endpoint

[2021-05-16 19:54] relyt0925 opened #222 "MVP: Konnectivity Integration"
We need to extend hypershift to provide an option to utilize Konnectivity: https://github.com/kubernetes-sigs/apiserver-network-proxy for master -> cluster communications (exec, webhooks, logs, etc)

In addition to the Kube-Apiserver needing this support: the openshift-apiserver will need to be adjusted as well to ensure the functionality it provides (image imports, webhooks served by the openshif

[2021-05-16 19:59] relyt0925 opened #223 "MVP: Customize Network Type Configuration"
We need the ability to control the network type used here:
https://github.com/openshift/hypershift/blob/73da1bc576c46d5a45f440a79b3b17717f5a3243/control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go#L795

The immediate use case is for IBM Cloud Openshift clusters Calico is utilized as the SDN provider.

Acceptance Critieria:
- [ ] Support the ability to configure d

[2021-05-16 20:04] relyt0925 opened #224 "MVP: Oauth Identity Provider Configuration"
We need to be able to configure the identity providers used in the oauth server for a Hypershift cluster. Currently that is configured with this parameter:
https://github.com/openshift/hypershift/blob/73da1bc576c46d5a45f440a79b3b17717f5a3243/control-plane-operator/controllers/hostedcontrolplane/assets/oauth-openshift/oauth-server-config.yaml#L28

However, that parameter cannot be set in Hypershift

[2021-05-16 20:17] relyt0925 opened #225 "RHCOS MVP: single ignition server to serve multiple independent config pools"
Currently: a unique Machine Config Server is added for every NodePool in hypershift. That requires a unique nodePort or route for every node pool created in the cluster and a unique deployment in every environment. As designed: this currently will not scale to the workload size IBM Cloud needs to support in a given hypershift management cluster.

We need enhancements to the Machine Config Controll

[2021-05-16 20:28] relyt0925 opened #226 "MVP: Cert/PKI adoption"
Ensure there is a path where a user can provide the certs they want to use in the master components deployed by Hypershift. When these certs are updated: the system should reconcile the appropriate secrets.

Acceptance Criteria:
- [ ] Ability to provide certs utilized in the downstream master components. Currently can be done through the pki secret if the proper variables are defined in this secre

[2021-05-16 20:35] relyt0925 opened #227 "MVP: Multi-zone deployment support"
There needs to be a way to configure the necessary master components to be a highly available configuration that has multiple replicas (IBM's use case is 3) and hard affinity rules to ensure these are spread across zones.

Acceptance Criteria:
- [ ] Configuration option to ensure enable affinity rules on master component manifests to ensure workload is spread across zones

[2021-05-16 20:37] relyt0925 opened #228 "MVP: Pod CIDR/Service CIDR/Advertised Address and Secure Port control"
There needs to be a way to configure the following network parameters associated with a cluster:
Pod CIDR
Service CIDR
Apiserver configuration: Advertised Address
Apiserver configuration: Secure Port

Acceptance Criteria:
- [ ] Configuration options for all networking parameters.

[2021-05-16 20:45] relyt0925 opened #229 "CSR Cert signing duration to match CISO timelines"
This is used to match the signing duration of our certs to the maximum value allowed by CISO policies. This ultimately turns out to be one parameter in the kube controller manager that manages how long CSRs are valid for

Acceptance Criteria:
- [ ] Configuration that enables us to set the signing duration: https://github.com/openshift/ibm-roks-toolkit/blob/master/assets/kube-controller-manager/kub

[2021-05-16 20:46] relyt0925 commented on #229
This is set appropriately:
https://github.com/openshift/hypershift/blob/73da1bc576c46d5a45f440a79b3b17717f5a3243/control-plane-operator/controllers/hostedcontrolplane/assets/kube-controller-manager/kube-controller-manager-deployment.yaml#L110

[2021-05-16 20:46] #229 closed

[2021-05-16 21:42] relyt0925 opened #230 "MVP: Named Cert Support/Ability to configure cert/key pairs for specific domain"
Specific section of config is here:
https://github.com/openshift/hypershift/blob/73da1bc576c46d5a45f440a79b3b17717f5a3243/control-plane-operator/controllers/hostedcontrolplane/assets/kube-apiserver/config.yaml#L216-L223

We need the ability to configure the certs utilized on a per domain name basis. In IBM: we have two domains: one that serves certs issued by a well known CA Authority (DigiCert) a

[2021-05-16 21:50] relyt0925 opened #231 "RHCOS MVP: IBM Cloud VPC Gen 2 cluster-api machine controller integration"
We need the ability to deploy/configure the appropriate cluster-api machine controller depending on the cloud provider. This involves deploying the machine controller and the appropriate CRDs/config that this controller will read.

Acceptance Criteria:
- [ ] Support deploying the IBM Cloud VPC Gen 2 cluster-api machine controller when deploying into IBM Cloud VPC Gen 2 environments.
- [ ] Ensure d

[2021-05-16 22:16] relyt0925 opened #232 "GA Feature Parity: API Server Audit webhook support"
We need a way to configure audit webhooks for the kube-apiserver:
https://kubernetes.io/docs/tasks/debug-application-cluster/audit/

This is important for compliance purposes for IBM Cloud clusters. This functionality is utilized to forward audit events from the Kube APIServer for compliance purposes.

Acceptance Critieria:
- [ ] Enable configuration of API Server audit webhooks. Example in ROKS t

[2021-05-16 22:21] relyt0925 opened #233 "GA Feature Parity: KMS Support for secret encryption"
We need to be able to configure the ability to encrypt Kubernetes secrets with the encryption provider defined here:
https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/

Specifically for IBM Cloud: we offer support for customers to configure this provider with a IBM Cloud Key Protect instance to encrypt secrets:

https://cloud.ibm.com/docs/openshift?topic=openshift-encryption#kms_cli

[2021-05-16 22:38] relyt0925 opened #234 "GA Feature Parity: Portieris support for verifying image signatures"
We need the ability to configure portieries (https://github.com/IBM/portieris) in hypershift clusters. This system is used to validate signatures of containers running in a given cluster and is important from a compliance perspective for IBM Cloud

Configuration of Portieris in IBM Roks Toolkit is shown here:
https://github.com/openshift/ibm-roks-toolkit/blob/ec875b0243ac58d095a3eec840ee4d09c24995

[2021-05-16 22:42] relyt0925 opened #235 "GA Operations: Pod affinity based off clusterid"
We need to be able to specify pod affinity rules based off a given clusterID to ensure various master components prefer to run colocated on a given node in a given zone. This helps isolate the affect that a given cluster can have on other components running on separate nodes. It also helps optimize the communication path between cluster components since they prefer to be colocated on a given node.

[2021-05-16 22:48] relyt0925 opened #236 "GA Operations: Ability to restart master components with "restart annotation""
This tasks involves support for specifying a "restart annotation" that when changed will trigger a rolling restart of *all* control plane components. This is a useful feature operationally that enables master components to be restarted which have been known to eliminate certain problems that customers hit. This is also critical for CA rotation as components need to be able to be restarted in order

[2021-05-16 22:53] relyt0925 opened #237 "GA Operations: Toleration specification on master component manifests"
We need the support to specify tolerations on the master component manifests. This allows taints to be used in the management cluster to isolate specific types of workload to help prevent certain noisy neighbor problems and allow for special use cases where larger clusters need dedicated machines to support the amount of traffic/workload being processed in the cluster.

The configuration in ROKS t

[2021-05-16 23:00] relyt0925 opened #238 "GA Operations: Priority class specification"
We need the ability to specify priority classes on critical master deployment manifests in order to ensure these manifests do not get evicted when the workers they are on enter disk pressure, memory pressure, etc. This allows lower priority workload to get evicted first before the master components are considered for eviction.

IBM Roks configuration: https://github.com/openshift/ibm-roks-toolkit/

[2021-05-16 23:08] relyt0925 opened #239 "GA Operations: Resource request and limit specifications for accurate scheduling"
We need the ability to specify resource request/limits on all master component manifests in order to allow kube to accurately schedule these components.

IBM Roks toolkit example configuration:
https://github.com/openshift/ibm-roks-toolkit/blob/ec875b0243ac58d095a3eec840ee4d09c24995c2/assets/kube-apiserver/kube-apiserver-deployment.yaml#L217

Acceptance Criteria:
- [ ] Specify resource requests an

[2021-05-16 23:16] relyt0925 opened #240 "GA Operations: Liveness and readiness probe specifications"
We need  Liveness and readiness probe specifications on master deployment manifests for accurate health checking and monitoring  of the components.

Ibm roks toolkit configuration: https://github.com/openshift/ibm-roks-toolkit/blob/ec875b0243ac58d095a3eec840ee4d09c24995c2/assets/kube-apiserver/kube-apiserver-deployment.yaml#L228

Acceptance Criteria:
- [ ] Liveness/readiness probes for all master

[2021-05-16 23:21] relyt0925 opened #241 "GA Operations: Upstream IBM alertmanager and prometheus config setup"
This item involves working with the redhat team to properly upstream the monitoring setup we use with Prometheus + AlertManager and Pagerduty to operate our management clusters. There is interest in the specific alerts we use for monitoring the health of master components/etcd/ general infra health (nodes not ready, etc).

IBM Specific alerts will be left out (things like monitoring of our master

[2021-05-16 23:24] relyt0925 opened #242 "Include hypershift images in release image"
This task involves adding the images for the hypershift system (hypershift operator, IBM Cloud machine controller, control plane operator, etc) to the release image so it can seamlessly be cloned through image mirroring and signed with the rest of the Openshift images.

Acceptance Criteria:
- [ ] Include hypershift images in Openshift release images

[2021-05-16 23:25] relyt0925 opened #243 "Existing IKS tugboat support: Registry image mapping support"

[2021-05-16 23:50] #243 closed

[2021-05-16 23:52] relyt0925 opened #244 "Existing IKS tugboat support: Security context specification"
For existing IKS tugboats: we need the ability to specify security contexts so we can ensure images run as non-root.

IBM ROKS Configuration: https://github.com/openshift/ibm-roks-toolkit/blob/ec875b0243ac58d095a3eec840ee4d09c24995c2/assets/kube-apiserver/kube-apiserver-deployment.yaml#L317

Acceptance Criteria:
- [ ] Ability to specify security context

[2021-05-17 00:38] derekwaynecarr commented on #242
@relyt0925 we will need to talk about timing on this.  this is not likely to be possible in 4.8, so related images from this repo would need to be built or mirrored separately in the interim.

[2021-05-17 01:32] relyt0925 opened #245 "Existing IKS tugboat support: Registry image translation support"
For existing IKS tugboats running containerd: there currently is not an option similar to: https://github.com/containers/image/blob/master/docs/containers-registries.conf.5.md

that allows the dynamic translation of images through the container runtime configuration. In IBM Roks toolkit: control plane images are translated before the images are applied from the quay.io base to the mirrored registr

[2021-05-17 12:04] enxebre commented on #230
/kind mvp

[2021-05-17 12:06] enxebre commented on #241
/kind GA

[2021-05-17 13:32] enxebre commented on #174
/assign

[2021-05-19 10:06] enxebre commented on #174
closing in favour of https://github.com/openshift/hypershift/issues/84

[2021-05-19 10:06] #174 closed

[2021-05-19 14:57] enxebre commented on #84
closed by https://github.com/openshift/hypershift/pull/246

[2021-05-19 14:57] #84 closed

[2021-05-20 18:38] relyt0925 commented on #242
@derekwaynecarr you are totally right let me remove the GA tag

[2021-05-23 15:26] relyt0925 commented on #220
/assign relyt0925

[2021-05-24 02:07] relyt0925 opened #261 "Determine control plane metric integration system"
I was curious if that's still planned in hypershift. Didn't see it getting deployed yet so will change this issue into tracking deploying that if we plan on still using it

[2021-05-24 14:54] enxebre commented on #225
/assign

[2021-05-24 16:01] #220 closed

[2021-05-25 15:16] relyt0925 opened #266 "GA Operations: Remove need for log connections in operations"
I do not believe we want to rely on logs/exec in critical operations for reliability purposes. Currently it is a requirement for the imageLookup pod:
https://github.com/openshift/hypershift/blob/fec57f340bbc2133218fdf134c1a9685bb90e866/control-plane-operator/releaseinfo/pod_provider.go#L81-L85

Opening this for a tracker to see how we can either move to configmaps/ a different system.

[2021-05-27 13:01] csrwng commented on #130
/close

[2021-05-27 13:01] #130 closed

[2021-05-27 18:24] relyt0925 opened #271 "Fast Follow to MVP: FIPS enablement of all componets"
We need to ensure all components are built in a FIPS enabled way (with go-toolset) and that there is a path to enable FIPS in RHCOS workers (already a field in the machine config).

One downstream dependency is we need go-toolset to have a go 1.16 image since hypershift depends on go 1.16

Acceptance Criteria:
- [ ] Ensure all applicable go programs built in go-toolset container with FIPS enableme

[2021-05-31 01:51] relyt0925 commented on #218
/unassign

[2021-06-04 04:04] relyt0925 opened #278 "Investigation: Move to upstream TLS bootstrapping approval workflow."
Instead of the auto approver just approving certs: it looks if the proper role bindings are added
https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet-tls-bootstrapping/#approval

The controller-manager can automate the approval of *only* kubelet certificates (client+server) in a secure fashion. This will provide all the necessary behavior we need for a secure kubelet bootstra

[2021-06-04 04:35] #278 closed

[2021-06-04 04:41] relyt0925 opened #279 "MVP: secure kubelet serving/client cert approving system (remove auto approver)"
We just need a more secure strategy around approving csrs.

Cluster machine config operator handles that in Openshift today: https://github.com/openshift/cluster-machine-approver

There's options to do an IBM specific implementation as well if this doesn't ultimately fit into hypershift.

[2021-06-07 21:50] relyt0925 commented on #279
I think an acceptable solution here is to look at the active machines through cluster-api and approve if the machines ip exists in the list.

[2021-06-10 14:14] relyt0925 commented on #279
We are going with the machine approver from openshift. If that turns out to be a large effort we can consider a fallback strategy.

[2021-06-15 19:09] ironcladlou opened #297 "Discussion: Improving ignition authorization and proxying"
## Problem

Today the ignition proxy has to make assumptions about the nodepool MCS endpoint using intrinsic knowledge of implementation details (the service name of a NodePool's Machine Config Server, aka MCS).

This coupling became a problem when trying to secure the MCS with TLS, as the proxy would need updated to connect to a qualified domain name for the MCS service (which will include a `<na

[2021-06-15 19:13] ironcladlou commented on #297
/xref https://github.com/openshift/hypershift/pull/295

[2021-06-16 13:41] ironcladlou commented on #297
There are at least a couple of ways to handle this:

1. fsnotify to trigger reloading disk contents on change
2. Integrate the proxy with the apiserver so it can read the secret directly and react to watch events

There's a bit of boilerplate involved in setting up (1) but I personally think it's easy enough (and is a pattern used elsewhere for similar purposes). There's a certain appeal to (2) wi

[2021-06-17 19:04] ironcladlou opened #303 "Proposal: ignition server abstraction"
# Ignition server abstraction proposal

## Problem

The current ignition mechanism presents some challenges:

- As new NodePool versions are noticed and new MCS versions rolled out in response, it's tricky to try and ensure instances at any given version (old or new) will ignite from the right underlying MCS backend. This complexity seems to be in part because a single MCS backend is responsible f

[2021-06-17 19:05] ironcladlou commented on #297
This is probably superseded by https://github.com/openshift/hypershift/issues/303 but I'll leave it open until we make a final decision.

[2021-06-20 21:50] relyt0925 commented on #222
This is being worked on by Seth: PR is here: https://github.com/openshift/hypershift/pull/302

[2021-06-20 21:50] relyt0925 commented on #222
/assign @sjenning

[2021-06-21 18:00] relyt0925 opened #306 "GA Operations: (Scalability) Optimize load induced on management cluster API Server"
Our perf squad after running with 440 clusters for a couple days noticed the API Server of the management cluster is repeatedly getting OOMKilled:
![Screen Shot 2021-06-21 at 12 59 38 PM](https://user-images.githubusercontent.com/7716924/122807015-ac228880-d290-11eb-8985-c19c160e78a1.png)

[2021-06-23 16:02] relyt0925 commented on #303
From an IBM perspective we will need to be able to control payloads from day 1 (just saw a comment where in the future that would be supported). Or we still need the ability to stay on the current design until that support lands.

[2021-06-24 02:33] relyt0925 commented on #232
complete

[2021-06-24 02:33] #232 closed

[2021-06-25 19:12] relyt0925 opened #313 "Konnectivity failure investigation"
Cluster failing
[code]

[2021-06-25 19:13] relyt0925 commented on #313
Note that of the 3 apiservices 2 are good but openshift-apiserver is failing

[2021-06-25 19:14] relyt0925 commented on #313
To this IP only the proxy agent consistently logs:
[code]

[2021-06-25 19:15] relyt0925 commented on #313
This appears to be the go grpc HTTP2 bug that also affected kubelet at older go versions.
https://github.com/kubernetes/kubernetes/issues/87615
https://github.com/kubernetes/kubernetes/issues/92164

[2021-06-25 19:26] relyt0925 commented on #313
Confirmed upstream konnectivity is built with 1.13.4 and is impacted by this

[2021-06-28 17:04] ironcladlou commented on #297
Superceded by https://github.com/openshift/hypershift/issues/297.

[2021-06-28 17:04] #297 closed

[2021-06-28 17:51] relyt0925 opened #315 "Ensure no leaks of secrets from management control plane into user control plane"
Currently their appears to be one spot where a "ingress-crt" used on the control plane side for it's ingress controller is also sent into a customer cluster. This provides exposure of the management control plane's ingress certs in every user cluster. Unique certs should be presented to each individual user cluster and in general nothing should be shared between the management cluster ingress and

[2021-06-28 17:52] relyt0925 commented on #315
Ensure no leaks of secrets from management control plane into user control plane

[2021-06-28 20:39] relyt0925 commented on #313
Note there are still failures even after enabling go HTTP2 health checking.

The current characteristics is on some rollouts (a significant portion at least 30%) it seems like there's a startup order of the kube-apiserver, konnectivity-server, konnectivity-agent in the tugboat, and apiservice components (openshift-apiserver, packagserver) that results in the connections Konnectivity are opening to

[2021-06-29 01:28] relyt0925 opened #316 "Oauth reconcilitaion should properly set browser clients and challenging clients"
Those are currently inactive functions. Likely will be done just opening to track. Code is here:
https://github.com/openshift/hypershift/blob/main/control-plane-operator/controllers/hostedcontrolplane/oauth/oauthclient.go#L15

[2021-06-29 04:59] relyt0925 commented on #313
I believe it's as simple as if all the backend pods restart
[code]

Before the konnectivity server restarts
[code]

it's broken

[2021-06-29 13:03] #303 closed

[2021-06-29 18:56] relyt0925 commented on #306
management cluster master components  were on
16 core 64 gig dedicated machines.
3 master components running in each AZ (one per AZ).
Etcd was also on a dedicated 16 core 64 gig machine with one instance running in each AZ

[2021-06-30 02:24] relyt0925 commented on #306
The current ratio we have in production is
116 nodes per zone * 3 zones = 348 nodes (dedicated 16 core 64 gig machines)
440 clusters (cluster components have instances in multiple AZs).

so that is a 1.26 cluster per node density on average.

[2021-06-30 03:29] #316 closed

[2021-06-30 03:35] relyt0925 opened #318 "Can we make machineCIDR optional?"
It for the case of VPC Gen 2 is not a trivial answer to find and is not modeled in ibm-roks-toolkit.

Right now the only placed it's used is in install-config which is used by MCS. But I do not think this CIDR is critical for anything

This is assuming VPN is removed:
https://github.com/openshift/hypershift/blob/ba5a814989da5ac0e93d56974d7233eed86331f1/control-plane-operator/controllers/hostedcont

[2021-07-01 03:49] relyt0925 commented on #313
I believe this was solved by pulling in the following pr:
https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/179

[2021-07-01 03:49] #313 closed

[2021-07-08 16:36] relyt0925 opened #341 "Openshift APIServer Proxy integration for in cluster/on prem registries and webhook validation"
Currently the Openshift API Server has no access to in cluster webhooks. This means if someone creates a webhook on a resource processed by the openshift apiserver the openshift apiserver will crash.

This will be fixed by proxying traffic through konnectivity into the cluster to be able to reach the webhooks

[2021-07-09 02:01] relyt0925 opened #343 "Ignition server failure investigation (properly handling not ready cache/timeout analysis)"
[code]

[2021-07-09 02:01] relyt0925 commented on #343
[code]

[2021-07-09 02:06] relyt0925 commented on #343
Logs of a run not never see successful `IgnitionProvider generated payload` which I would expect to see to populate cache
[code]

[2021-07-09 02:34] relyt0925 commented on #343
To fix currently: I bumped timeout and now it appears to work
[code]

[2021-07-09 09:20] enxebre commented on #343
/assign

[2021-07-09 15:11] relyt0925 commented on #343
Just to note:
The two main things here are getting a proper response returned when the cache is not ready that gets the machine calling to ignition to retry and not enter emergency mode

The other is adjusting the timeout or maybe strategy (likely timeout) to ensure there is enough time under varying load/network conditions to properly run and execute the generation logic.

[2021-07-11 04:58] relyt0925 commented on #315
done

[2021-07-11 04:58] #315 closed

[2021-07-11 04:59] #226 closed

[2021-07-11 05:00] relyt0925 commented on #223
the initial MVP support for this is done future work streams can be opened in a follow up issue (like the OVN-Kubernetes one)

[2021-07-11 05:00] #223 closed

[2021-07-11 05:00] relyt0925 commented on #222
this is done

[2021-07-11 05:00] #222 closed

[2021-07-11 05:00] relyt0925 commented on #219
done

[2021-07-11 05:00] #219 closed

[2021-07-11 05:02] relyt0925 opened #347 "Fix new-app command (ensure pull secret reconciled appropriately)"
Currently new-app is failing. @csrwng pointed out it's a small change to get it fixed. Just need the pull secret reconciled

[2021-07-11 05:03] relyt0925 commented on #347
/assign @csrwng

[2021-07-11 05:12] relyt0925 opened #348 "Konnectivity builds in release image or control over image specified on a per cluster basis."
This is for having some versioning of Konnectivity components. At a minimum: IBM will ultimately need to be able to select different regional production registries or if it's included in the release image it will be picked up by default.

We could also do this as an annotation in the interim until it gets in the release image

[2021-07-11 05:18] relyt0925 opened #349 "Proper MZR/HA review of all components"
The main gap I currently see is mainly the ignition server (we will want that to be 3 replica MZR in the ha deployment model). This is so worker provisioning does not get impacted by a zonal failure.

cluster-api since it's critical to node provisioning should run multi AZ as well (with leader election)

[2021-07-11 05:21] relyt0925 opened #350 "GA: Pass Zonal failure test"
we should run a test of shutting down an entire AZ of a management cluster running hypershift components and see if it passes failure testing. Any gaps should be closed before GA.

[2021-07-11 05:24] relyt0925 commented on #318
for now this can lay dormant in ibms config. More important in other cloud providers however so will stay in the main api (we can just pass in the pod cidr here)

[2021-07-11 05:24] #318 closed

[2021-07-11 05:32] relyt0925 opened #351 "Determine packageserver strategy for resolving and pulling content from user in-cluster catalogs"
Couple options:
1) The packageserver could use a kubeconfig and the proxy routes of the apiserver to contact services in the cluster through the APIServer. This means DNS resolution is solved and no need to integrate Konnectivity in with packageserver.
2) The package server could adjust the DNS looking to explicitly issue kubernetes Service IP looking requests (kubectl get service CATALOG) and the

[2021-07-13 00:31] #347 closed

[2021-07-13 20:24] relyt0925 opened #353 "Fix new-app command (ensure pull secret reconciled appropriately)"
There's one more fix needed with cas for the builder pod syncing ca certs

[2021-07-14 04:36] relyt0925 opened #354 "use HTTPS on ignition download from ignition server (FedRamp reqs for encrypted traffic)"
since this traffic contains  customer certs we need the traffic to be encrypted on the download from the pod that is ran: right now it uses the http endpoint

[2021-07-15 14:11] relyt0925 opened #358 "Konnectivity failure investigation (logs don't work for extended periods of time)"

[2021-07-15 16:28] #358 closed

[2021-07-16 03:44] #353 closed

[2021-07-16 03:44] relyt0925 commented on #353
fixed

[2021-07-18 02:45] relyt0925 opened #363 "RHCOS MVP: RHCOS system reservation strategy"
There's a few things looking that I'm curious Red Hat's opinion on
- [ ] pod pid reservations
- [ ] pod pid maximums
- [ ] Dynamic node sizings of CPU/MEM/Storage
- [ ] Eventqps setting: https://gsl.dome9.com/D9.K8S.MON.01.html
- [ ] TLS Ciphers

[2021-07-18 03:44] relyt0925 commented on #363
Default eviction parameters
https://kubernetes.io/docs/tasks/administer-cluster/reserve-compute-resources/
[code]

[2021-07-18 20:44] relyt0925 opened #364 "RHCOS GA: Periodic continous refresh strategy for ignition server token"
The token should periodically be refreshed on an interval and ultimately old tokens revoked. This provides a secure system overtime and limits the time a exposed secret is active for.

[2021-07-18 20:53] #363 closed

[2021-07-19 03:09] relyt0925 opened #365 "RHCOS MVP: Support exposing ignition server as node port"
It's important due to our private only strategy that needs to rely on a unique node port per component.

[2021-07-20 18:03] relyt0925 commented on #365
Alberto agrees this can be done will look to do for RHCOS MVP

[2021-07-21 18:19] #348 closed

[2021-07-22 00:42] relyt0925 commented on #343
this is fixed

[2021-07-22 00:42] #343 closed

[2021-07-22 00:43] relyt0925 commented on #225
this is enabled and complete

[2021-07-22 00:43] #225 closed

[2021-07-22 00:45] relyt0925 commented on #354
One potential solution to discuss:
Let's use a headless service for the machine config pod:
Then we can sign the cert with a wildcard on the headless service which will allow us to properly do TLS downloads.

Headless service domain format is
PODID.HEADLESS_SERVICE_NAME.NAMESPACE.svc.cluster.local

[2021-07-22 00:46] #224 closed

[2021-07-22 00:46] #218 closed

[2021-07-22 00:46] #228 closed

[2021-07-22 00:46] #230 closed

[2021-07-22 13:47] KodieGlosserIBM commented on #261
IBM ROKS Toolkit ROKS-Metrics deployment
https://github.com/openshift/ibm-roks-toolkit/tree/master/assets/roks-metrics

[2021-07-22 15:02] ironcladlou opened #369 "Proposal: Enable multi-zonal control plane component spread by default"
We anticipate multi-zonal spread of control plane components to be a common requirement (e.g. https://github.com/openshift/hypershift/issues/227).

One approach that we think may satisfy the majority use case is to define multi-zonal in terms of anti-affinity rules based on the `kubernetes.io/hostname` and `topology.kubernetes.io/zone` topology keys for pod anti-affinity. This proposal is to set d

[2021-07-22 15:11] ironcladlou opened #370 "Proposal: Colocate control plane components by default"
We anticipate the desire for colocation of control plane components to limit the impact of cross-node issues, optimize the communications paths between components, etc (see https://github.com/openshift/hypershift/issues/235).

This proposal is to define colocation in terms of pod affinity rules based on the `kubernetes.io/hostname` topology key and to set default affinity rules for control plane c

[2021-07-22 15:19] ironcladlou opened #371 "Proposal: Enable control plane node exclusivity through built-in well-known tolerations"
We anticipate the need for users to dedicate nodes to control planes for various reasons (e.g. https://github.com/openshift/hypershift/issues/237 regarding noisy neighbors, resource requirements, etc.). One way we expect users to achieve node exclusivity is through the use of taints and tolerations.

This proposal is to bake in some default tolerations to each control plane component which define

[2021-07-22 15:35] sjenning commented on #371
This is always something I feel the need to remember whenever the topic of taints/tolerations comes up.

A pod tolerating a taint means the pod _can_ be scheduled to the tainted node, not that it _will_ be.  In order to confine the scheduling to a set of nodes, `nodeSelector` and Node `labels` must be used.  The taint just prevents pods with no `nodeSelector` from scheduling onto the dedicated nod

[2021-07-22 15:47] ironcladlou commented on #371
Great points. I guess the implicit assumption in the requirements as they've been discussed is that there's no explicit confinement via node selectors in this use case, only exclusionary methods.

However, we also have https://github.com/openshift/hypershift/issues/370 which will induce node colocation by default. Does that change the calculus here? Otherwise, what do you propose? Another thought

[2021-07-22 19:09] ironcladlou commented on #371
So what I mean here is, if we had both a default hosted-cluster-scoped toleration and soft node affinity rule, these would be benign out of the box, but if the admin wants to make a node exclusive to the hosted cluster, they could label the node with the well-known label matching the default affinity rule (to get the pods in right place) and taint the node with the well-known key for that cluster

[2021-07-23 01:39] relyt0925 commented on #371
I am fine doing a soft node affinity rule as well to prefer the isolated nodes by default. I think it's a good addition.

[2021-07-23 03:44] relyt0925 commented on #241
[code]

[2021-07-23 03:50] relyt0925 commented on #241
[alertrules.txt](https://github.com/openshift/hypershift/files/6866453/alertrules.txt)

[2021-07-23 22:26] csrwng opened #376 "Proposal: Enable control plane deployment restart on demand"
Service providers need a way to restart control plane pods on demand (See https://github.com/openshift/hypershift/issues/236). When control plane pods reach a bad state, it should be possible to determine that this is the case through liveness probes and let the system restart them automatically. Any other bad state that is not detectable is a bug that should be fixed. However, reality is that the

[2021-07-23 22:39] csrwng opened #377 "Proposal: Specifying priority classes for Hypershift control plane workloads"
Control plane workloads on a hypershift management cluster should take precedence over other lower priority workloads. Furthermore, within control plane workloads, etcd is special because it is not stateless in the same way that other pods are in the control plane (ie. kube apiserver, kube controller manager, etc)

In order to avoid early eviction of these workloads due to cpu/memory/disk pressure

[2021-07-23 22:57] csrwng opened #378 "Proposal: Allow specifying resource requests/limits for critical control plane workloads"
Within a hypershift control plane certain workloads can vary in resource requirements depending on the size/usage of the guest cluster that they are hosting. Particularly, these can be:
1. Etcd
2. Kubernetes API Server
3. Kubernetes Controller Manager

A service provider needs to be able to control resource requests for these workloads (see https://github.com/openshift/hypershift/issues/239). This

[2021-07-26 19:50] relyt0925 commented on #354
Current strategy: have ignition bootstrapper run over localhost and update configs all local to the pod instead of having to go over the network

[2021-07-27 08:14] gyliu513 commented on #231
@relyt0925 does this project can  help https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud , this is for VPC Gen V2 Support.

[2021-07-28 12:52] relyt0925 commented on #354
General code path is here:
https://github.com/openshift/hypershift/blob/main/ignition-server/controllers/machineconfigserver_ignitionprovider.go#L64

[2021-07-28 12:52] relyt0925 commented on #354
example ibm cloud node pool
[code]

[2021-07-28 13:52] relyt0925 commented on #369
Key components that need these defined:
ignition-server
cloud-controller-manager
cluster-policy-controller
kube-apiserver
kube-controller-manager
kube-scheduler
oauth-openshift
openshift-apiserver
openshift-controller-manager
openshift-oauth-apiserver

[2021-07-28 13:53] relyt0925 commented on #370
I am in favor of namespace+name tuple over uuid

[2021-07-28 13:54] relyt0925 commented on #371
also fine with names.

[2021-07-28 14:46] #227 closed

[2021-07-28 16:17] relyt0925 commented on #371
Every component that supports a master should tolerate these tolerations
[code]

In addition the manifest-bootstrapper pod and any one time creation pods (machine config server, image lookup if it doesn't go away) should tolerate as well

[2021-07-28 16:17] #236 closed

[2021-07-28 16:18] relyt0925 commented on #376
I agree that I prefer option 1

[2021-07-28 16:19] relyt0925 commented on #370
Everything scheduled in the operations of a master should also have this label. See this comment for that list:
https://github.com/openshift/hypershift/issues/371#issuecomment-888441138

[2021-07-29 08:38] mihalysz22 commented on #341
Nginx as a sidecar proxy to the OpenShift API Server can proxy the requests to the konnectivity-server with the following L4 tunneling configuration:
[code]
Here - for this poc - I've used the kube-apiserver's existing cert and key from the kube-apiserver secret.

And then redirecting the openshift-apiserver container's traffic:
[code]

It also worth noting the konnectivity-agent's `dnsPolicy` mus

[2021-07-29 10:38] mihalysz22 commented on #341
And it also works with haproxy using the following configuration:
[code]
For this I’ve concatenated konnectivity-client.pem and konnectivity-client-key.pem from the kube-apiserver secret to haproxy.crt and used ca.crt from the same secret.

[2021-07-29 14:01] relyt0925 commented on #233
https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/

[2021-07-30 13:01] relyt0925 commented on #306
Currently at 54 hosted clusters
![Screen Shot 2021-07-30 at 8 00 43 AM](https://user-images.githubusercontent.com/7716924/127656585-78fbb6f4-c53c-41bd-bf64-1d5a4b5dd044.png)

[2021-07-30 13:02] relyt0925 commented on #306
The growing lines are the kube-apiserver containers the rest are all the other containers in the system.

[2021-08-01 22:15] relyt0925 commented on #306
However: Things do appear to be stabilizing and if anything I am seeing the larger jumps correspond *not* to more management clusters but instead to adding more worker nodes into the cluster to hold the hosted control plane componets

An example of this is shown below:
![Screen Shot 2021-08-01 at 5 15 37 PM](https://user-images.githubusercontent.com/7716924/127786869-26154b43-8d27-48f0-9aed-30baeb

[2021-08-01 22:25] relyt0925 commented on #306
That time of increase was actually corresponding to when I scaled the cluster from a total of 120 nodes to 225 nodes. The rest of the graph is when I scaled from 82 to 175 hostedclusters. In that time I see no significant uptick trends of memory utilization of API Servers.

[2021-08-03 02:11] #83 closed

[2021-08-03 18:18] KodieGlosserIBM opened #386 "RHCOS MVP: Support dynamic Ignition data on reconcile loop"
When making changes or adding ignition data configmaps the ignition pod should be able to detect changes and dynamically add them on the reconcile loop without the pod needing to restart.

Current reconciliation loop is here: https://github.com/openshift/hypershift/blob/4fc9a8e2c9ecbabc9b1671b4c55951bae6cb019e/ignition-server/controllers/tokensecret_controller.go#L142

We can possibly look to addi

[2021-08-03 18:36] relyt0925 commented on #386
Think it'll be solved in this PR:
https://github.com/openshift/hypershift/pull/357/files

[2021-08-04 14:07] csrwng commented on #341
@relyt0925 we also need the etcd service in the NO_PROXY list

[2021-08-04 18:55] relyt0925 commented on #376
/assign @csrwng

[2021-08-04 18:56] relyt0925 commented on #238
/assign @csrwng

[2021-08-04 18:56] relyt0925 commented on #370
/assign @csrwng

[2021-08-04 18:56] relyt0925 commented on #239
/assign @csrwng

[2021-08-04 18:57] relyt0925 commented on #371
/assign @csrwng

[2021-08-04 18:57] relyt0925 commented on #369
/assign @csrwng

[2021-08-04 18:57] relyt0925 commented on #266
/assign @csrwng

[2021-08-04 18:58] relyt0925 commented on #306
/assign @relyt0925

[2021-08-05 02:53] relyt0925 commented on #386
/assign @enxebre

[2021-08-05 02:54] relyt0925 commented on #376
/unassign

[2021-08-05 06:20] SANJEEV-Choubey commented on #354
@relyt0925 I am working on this task, Work is in progress

[2021-08-05 17:35] ironcladlou commented on #378
Tracking this here: https://issues.redhat.com/browse/HOSTEDCP-190

[2021-08-05 17:35] #378 closed

[2021-08-05 17:37] ironcladlou commented on #377
Tracked here: https://issues.redhat.com/browse/HOSTEDCP-191

[2021-08-05 17:37] #377 closed

[2021-08-05 17:39] ironcladlou commented on #376
Tracked in https://issues.redhat.com/browse/HOSTEDCP-192

[2021-08-05 17:39] #376 closed

[2021-08-05 17:41] ironcladlou commented on #371
Tracked in https://issues.redhat.com/browse/HOSTEDCP-193

[2021-08-05 17:41] #371 closed

[2021-08-05 17:43] ironcladlou commented on #370
Tracked in https://issues.redhat.com/browse/HOSTEDCP-194

[2021-08-05 17:43] #370 closed

[2021-08-05 17:45] ironcladlou commented on #369
Tracked in https://issues.redhat.com/browse/HOSTEDCP-195

[2021-08-05 17:45] #369 closed

[2021-08-05 17:50] relyt0925 commented on #306
[pprofresults_30plusGB_afterrestart.zip](https://github.com/openshift/hypershift/files/6940672/pprofresults_30plusGB_afterrestart.zip)

[2021-08-05 17:56] ironcladlou commented on #266
Tracked in https://issues.redhat.com/browse/HOSTEDCP-196

[2021-08-05 17:56] #266 closed

[2021-08-05 17:58] ironcladlou commented on #354
Being tracked here: https://issues.redhat.com/browse/HOSTEDCP-197

[2021-08-05 17:58] #354 closed

[2021-08-05 18:00] ironcladlou commented on #235
Design was https://github.com/openshift/hypershift/issues/370 and is now tracked in https://issues.redhat.com/browse/HOSTEDCP-194

[2021-08-05 18:00] #235 closed

[2021-08-05 18:01] ironcladlou commented on #238
Resulted in https://github.com/openshift/hypershift/issues/377 and tracked now in https://issues.redhat.com/browse/HOSTEDCP-191

[2021-08-05 18:01] #238 closed

[2021-08-05 18:01] ironcladlou commented on #239
Design was https://github.com/openshift/hypershift/issues/378 and now tracked in https://issues.redhat.com/browse/HOSTEDCP-190

[2021-08-05 18:01] #239 closed

[2021-08-05 18:03] ironcladlou commented on #237
Design was https://github.com/openshift/hypershift/issues/371 and now tracked in https://issues.redhat.com/browse/HOSTEDCP-193

[2021-08-05 18:03] #237 closed

[2021-08-05 18:05] #244 closed

[2021-08-05 18:09] ironcladlou commented on #350
We'll track this as QE for multi-zonal spread (https://issues.redhat.com/browse/HOSTEDCP-195)

[2021-08-05 18:09] #350 closed

[2021-08-05 18:10] ironcladlou commented on #157
Please feel free to re-open with a reproducer if this is still an issue

[2021-08-05 18:10] #157 closed

[2021-08-05 18:10] ironcladlou commented on #156
Please feel free to re-open with a reproducer if this is still an issue

[2021-08-05 18:10] #156 closed

[2021-08-05 19:02] relyt0925 commented on #306
![Screen Shot 2021-08-05 at 2 01 50 PM](https://user-images.githubusercontent.com/7716924/128406437-114fd811-01c5-407e-89d1-41c41c720ed9.png)

[2021-08-05 19:05] relyt0925 commented on #306
![Screen Shot 2021-08-05 at 2 04 45 PM](https://user-images.githubusercontent.com/7716924/128406775-258bd507-0d82-445b-8df1-662e5bf2c67b.png)
![Screen Shot 2021-08-05 at 2 04 20 PM](https://user-images.githubusercontent.com/7716924/128406778-aafe081a-6846-4bde-aaea-3a901b2395e3.png)
![Screen Shot 2021-08-05 at 2 04 08 PM](https://user-images.githubusercontent.com/7716924/128406779-b9c7d106-18d7-41

[2021-08-05 19:06] relyt0925 commented on #306
Secrets then spikes extremely large (1.4K watch requests) which seems really large

[2021-08-05 19:07] relyt0925 commented on #306
after that flux things seem to stabilize:
![Screen Shot 2021-08-05 at 2 07 07 PM](https://user-images.githubusercontent.com/7716924/128407092-37dde4a5-610d-49bb-a775-9192752e3867.png)

[2021-08-05 19:11] relyt0925 commented on #306
nothing major on the controller side of things during this time:
![Screen Shot 2021-08-05 at 2 11 12 PM](https://user-images.githubusercontent.com/7716924/128407573-28cbecfa-c9cb-4df5-9134-10e8136ed98b.png)

[2021-08-06 03:47] relyt0925 commented on #306
Dropping
--default-watch-cache-size to 33 significantly helps the load (default is 100)

[2021-08-06 03:50] relyt0925 commented on #306
![Screen Shot 2021-08-05 at 10 49 41 PM](https://user-images.githubusercontent.com/7716924/128453346-fa8006ce-b003-4e24-b4d9-1ca13b66eb97.png)

[2021-08-06 16:45] relyt0925 opened #394 "Proposal: Etcd Secret Encryption Integration"

[2021-08-06 18:23] derekwaynecarr commented on #306
@sttts @deads2k any thoughts on optimal tuning of api-server to handle a thundering herd of re-establishing watch connections?

[2021-08-06 18:32] deads2k commented on #306
We added a patch in 4.8 to address the infinite concurrency of watchers in prior releases.  We noticed it for clusters with many kubelets and pods trying to rewatch lots of secrets.  The change charges watchers during the establishment of their watch connections, so it improves cases where many watchers all attempt to watch at the same time.  It does not improve cases of wide fanout when an update

[2021-08-08 04:08] relyt0925 opened #396 "RHCOS MVP: IBM Cloud RHCOS image determination (no global catalog)"
This we will need to determine how we map the image appropriately from what is in the release payload to what is actually in our service accounts.

This will likely just be as easy as slightly translating the name to be gen 2 specific.

[2021-08-08 04:12] relyt0925 commented on #396
Images should follow similar pattern to

https://rhcos-redirector.apps.art.xq1c.p1.openshiftapps.com/art/storage/releases/rhcos-4.9/49.84.202107010027-0/x86_64/rhcos-49.84.202107010027-0-ibmcloud.x86_64.qcow2.gz

Note that is retreived from:
https://github.com/openshift/installer/blob/master/data/data/rhcos.json

Specifically:
.baseURI
https://github.com/openshift/installer/blob/master/data/data/r

[2021-08-08 05:16] relyt0925 commented on #233
Ensure livliness probe (for IBM Cloud path) is also adjusted accordingly.

[2021-08-08 05:31] relyt0925 opened #397 "GA Test: Test core Satellite functionality"
This should be able to be done once the rotation date support is in place: We should make sure ca rotation is still functional

[2021-08-08 19:44] relyt0925 opened #398 "RHCOS MVP test: Test E2E bootstrapping of RHCOS nodes in IBM Cloud"
Placeholder to test RHCOS bootstrapping path e2e

[2021-08-08 23:05] relyt0925 opened #399 "Z/Power Prototyping: Multi-arch image prototype"
There's a few critical steps to this:
1) The power/Z functional equivalent of *every* image in the release payload needs to be built appropriately. This will form the link to that architecture in the multiarch image.
2) A sample registry path should be setup like registry.ng.bluemix.net/armadamultiarch (it exists from previous experiments with the power/Z team). In this registry: the team should h

[2021-08-08 23:08] relyt0925 opened #400 "Z/Power Prototyping: Nodepool architecture specification"
There is one thing that the multiarch manifest won't be able to solve: and that is selecting the initial image to use to bootup the RHCOS machines on the power/Z architecture. Prototypes will need to be done on how that is used to lookup an image from a different documented release stream:
https://github.com/openshift/installer/blob/release-4.8/data/data/rhcos-ppc64le.json#L48

And then used in th

[2021-08-08 23:11] relyt0925 opened #401 "Z/Power Prototyping: Ensuring cluster-api provider properly designed for IAAS system they will be using"
A cluster-api plugin needs to be written that will be used to automate ordering/deleting (CRUD operations) of the machines in a given IAAS provider. Some examples today:
https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud
https://github.com/kubernetes-sigs/cluster-api-provider-aws
https://github.com/kubernetes-sigs/cluster-api-provider-vsphere

The team needs to examine for whatever i

[2021-08-11 03:02] relyt0925 commented on #341
This will be the general section we use to modify the reconciliation of the openshift-apiserver to have the sidecar:
https://github.com/openshift/hypershift/blob/1307f34d43bfbbd2c09c0a73f985885487a65562/control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go#L59

And the appropriate certs with that sidecar

[2021-08-11 03:58] relyt0925 commented on #341
unfinished pr showing a example of the general changes:
https://github.com/openshift/hypershift/pull/403

[2021-08-11 03:59] relyt0925 commented on #306
thank you for this @deads2k !

[2021-08-11 12:54] tkashem commented on #306
in addition to openshift/kubernetes#773, on the management cluster you can add a new priority & fairness rule to set a  concurrency limit for these watch requests (watch initialization only).

Also, the default values for `max-requests-inflight` and `max-mutating-requests-inflight` are too high for the management cluster, since the management cluster is managed by us, i would recommend lowering th

[2021-08-11 22:10] clnperez commented on #401
FYI - as we're working on IPI support for Power VS, we have created https://github.com/openshift/cluster-api-provider-powervs

FYI @mkumatag ^

[2021-08-12 12:49] jwcroppe commented on #401
Thanks @clnperez ... this should tackle this piece for provisioning into Power Virtual Server (PowerVS) for off-prem deployments.  We'll still need to explore IPI for PowerVC for on-prem, but that'll be the second phase.

/cc @relyt0925

[2021-08-13 04:34] relyt0925 opened #406 "RHCOS MVP: HA multi zone ignition server"
Just need to add the HA multi zone support for the ignition server:
https://github.com/openshift/hypershift/blob/main/hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go#L1296

[2021-08-14 18:13] relyt0925 opened #408 "Fix gaps of monitoring probes on all components"
Listing the few that don't have any livliness health checks
[code]
livliness and readiness can use same endpoint if applicable (same http route)

Ideally there is some sort of continous monitoring on these to help ensure they are functioning overtime

[2021-08-14 18:23] relyt0925 opened #409 "Allow dynamic changes to resource requests/limits of componets overtime"
This is to provide a framework (already discussed to allow the resource requests/limits of deployments to be tweaked and reconciled dynamically overtime (and not just hard coded). Necessary to be able to adjust to workload changes in specific clusters and ensure accurate scheduling/ help prevent node overloading.

[2021-08-14 20:58] relyt0925 opened #410 "Priority Class Enahancement: Separate Etcd and Master priority classes"
We have discussed that it would be ideal to assign more specific priority classes than system-node-critical to the master components.

The general idea is there should be a class for "stateful" workload (etcd) and stateless workload (everything else) associated with the master control plane.

These priority classes should get created and be the last things to be evicted in a given node (besides th

[2021-08-14 21:06] relyt0925 commented on #364
General idea:
1) Create new token after some time and use that in userdata secret
2) After some time has passed (gives enough time for in flight workers to bootstrap) remove old token.

[2021-08-14 21:07] relyt0925 opened #411 "Clean userdata tokens/secrets from deleted nodepools"
I see after a nodepool was deleted the ignition server tokens/userdata secrets still lie around. We should clean those up to prevent resource leaks

[2021-08-15 02:11] relyt0925 opened #412 "MVP: determine strategy for hard coded cluster-api/autoscaler images"
IBM Cloud images need to be pulled from IBM registries. This one is currently set to
[code]

We will either need them in release image, ability to disable them, or a process to clone them.

One simple way is to allow us to use annotations for these images.

[2021-08-15 15:14] relyt0925 opened #414 "MVP: what are the build processes for cluster-autoscaler image, cluster-api manager image, and machine-approver image"
We will need this to pickup security updates. Looking to see the proper process to make a request to get a rebuild/etc of the system. These will also ultimately need to be built in a fips enabled manner.

[2021-08-15 23:30] relyt0925 opened #415 "Review for components that don't need serviceaccount tokens mounted (AutomountServiceAccountToken == false)"
there are likely some components that can be further secured by not mounting the service account token associated with it's serviceaccount if it needs no access to the kube-apiserver

Some initial candidates likely include packageserver, the catalog operators, olm, etc.

[2021-08-16 17:32] mdelder opened #417 "Problem adding NodePool in AWS"
## Scenario

I successfully created a Hypershift cluster on OCP 4.8.3 running OCP 4.8.4 (I didn't intentionally create different versions; it just worked out that way).

When I attempted to add a `NodePool`, the `Nodes` never successfully joined my Hypershift cluster, `mdelder-sierra`.

Here's what I did:

1. Created a Hypershift cluster using the `hypershift create cluster` named `mdelder-sierra`

[2021-08-18 13:12] mdelder commented on #417
FWIW, I observed this issue on OCP 4.8.4. When my hypershift default version moved to OCP 4.8.5, I had much more success creating/provisioning clusters.

[2021-08-20 07:35] mkumatag commented on #399
Is only release going to be multi-arch or even the individual components also will be a fat manifest so that any cluster wide daemonsets deployed for the infra will run smoothly on different architectures.

[2021-08-20 17:07] jwcroppe commented on #399
@relyt0925 - so is the request here to have OCP release images leverage fat manifests?

[2021-08-20 18:49] ironcladlou opened #426 "Prepare repository for control-plane-operator extraction"
The control plane operator inevitably must be extracted into its own Git repository
and versioned with OCP. To achieve this, we need to prepare the current monorepo with
the right set of discrete Go modules to make sure external Go consumers (i.e. the control
plane operator) can express dependencies without taking on an unreasonable transitive
dependency graph.

Here is the proposed logical layout

[2021-08-23 13:14] ironcladlou commented on #426
There's another opportunity the module refactor presents: we can introduce control-plane-operator modules per OCP version which encapsulate the version-dependent Go dependencies and logic (and which depend on a shared module for common stuff). Then it seems possible to continue with the monorepo with an image containing binaries compatible with all supported OCP versions.

[2021-08-24 04:31] relyt0925 opened #433 "Label changes don't reconcile appropriately (have to delete and allow fresh redeploy of deployment)"
examples on change
[code]

[2021-08-24 04:31] relyt0925 commented on #433
happens across all deployments

[2021-08-24 04:31] relyt0925 commented on #433
[code]

[2021-08-24 17:42] ironcladlou opened #435 "Need a sustainable approach to external API dependency management"
This issue revisits https://github.com/openshift/hypershift/issues/55. Please consult that issue for even more background. Since then there is also https://github.com/kubernetes-sigs/cluster-api/issues/3465 which tracks this class of problem just for the `cluster-api` project upstream.

To briefly re-summarize the problem, HyperShift depends on the following external Go APIs in order to manage a v

[2021-08-24 17:57] ironcladlou commented on #435
I've done some prototyping and here's one concrete example of how the `api` module could be set up which assumes the use of `Unstructured` and which provides a way for us to easily regenerate CRDs from the upstream projects while keeping the dependency graphs isolated:

[code]

In this setup, regenerating the CRDs for any given upstream project would involve steps like this (which are ultimately c

[2021-08-24 18:07] ironcladlou commented on #435
cc @csrwng @sjenning @enxebre

[2021-08-24 18:12] ironcladlou commented on #435
Upon reflection, I'd consider my outline in https://github.com/openshift/hypershift/issues/435#issuecomment-904855252 to be related but somewhat separate — for example, the `vendor` directories there could be the basis for extracting types like we've been doing already, code generation, etc. It definitely solves the CRD side cleanly. How we solve the Go type dependencies is either related (if we e

[2021-08-24 21:05] ironcladlou commented on #426
Another alternative would be to develop and maintain OpenAPI v3 specs for these APIs and use https://github.com/deepmap/oapi-codegen to generate the types. I've done some experiments with this by porting the contents of CRD definitions into the OAPI3 spec (which requires adding some required stuff to the `components` field, etc.) but this revealed the OpenAPI data embedded in CRDs can be inconsist

[2021-08-25 13:16] ironcladlou commented on #435
@enxebre brought the following Go 1.17+ features to my attention (thank you!):

https://golang.org/ref/mod#lazy-loading
https://go.googlesource.com/proposal/+/master/design/36460-lazy-module-loading.md

More to consider...

[2021-08-25 13:45] ironcladlou commented on #435
@enxebre

I'm still digesting the lazy module loading proposal, but let me quickly sketch a specific example to solve for which I'm not clear yet whether graph pruning or lazy loading will address.

Here's a simplifcation of a piece of our actual dependency graph which represent _explicit_ dependencies via direct imports starting from the API types we actually use:

[code]

https://github.com/kube

[2021-08-25 16:57] ironcladlou commented on #435
For posterity, another alternative would be to develop and maintain OpenAPI v3 specs for these APIs and use https://github.com/deepmap/oapi-codegen to generate the types. I've done some experiments with this by porting the contents of CRD definitions into the OAPI3 spec (which requires adding some required stuff to the `components` field, etc.) but this revealed the OpenAPI data embedded in CRDs c

[2021-08-25 16:57] ironcladlou commented on #435
I agree the overlapping packages are minimal, I definitely don't want to overstate the risks

[2021-08-25 20:58] ironcladlou opened #439 "Autoscaling test is very slow"
Looking through some random samples of historical e2e runs:

https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/openshift_hypershift/430/pull-ci-openshift-hypershift-main-e2e-aws/1430530833562734592
https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/openshift_hypershift/428/pull-ci-openshift-hypershift-main-e2e-aws/1430190658093584384
https://prow.ci.openshift.org/vie

[2021-08-25 21:01] ironcladlou opened #440 "Control plane upgrade tests are suspiciously fast"
Looking through some random samples of historical e2e runs:

https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/openshift_hypershift/430/pull-ci-openshift-hypershift-main-e2e-aws/1430530833562734592
https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/openshift_hypershift/428/pull-ci-openshift-hypershift-main-e2e-aws/1430190658093584384
https://prow.ci.openshift.org/vie

[2021-08-26 08:10] gyohuangxin opened #444 "Failed to install hypershift package"
I try to install hypershift with command:
[code]

But it failed with error message:
[code]
Go version: go1.16.7 linux/amd64

[2021-08-26 14:12] ironcladlou opened #445 "e2e tests no longer dump cluster state"
https://github.com/openshift/hypershift/pull/438 temporarily disabled cluster dumps due to a performance regression; we need to diagnose and fix the problem and reintroduce state dumps.

[2021-09-01 02:40] tmishina commented on #444
Hi @ironcladlou, I faced same problem as @gyohuangxin.
Workaround would be using `go get`, but it also fails.

[code]

Is there any other workaround? Which commit can I install the hypershift CLI without this error?

[2021-09-01 13:17] ironcladlou commented on #444
Because we now use several `replace` directives in `go.mod` it's not obvious to me yet how to solve this. In the meantime, I recommend cloning the repo and running `make` to build the binaries. Will that suffice in the meantime?

[2021-09-01 13:49] enxebre commented on #444
@tmishina As a workaround you can add a replace clause to your go.mod file
replace sigs.k8s.io/cluster-api => sigs.k8s.io/cluster-api v0.4.2

That you let go get succeed.

[2021-09-01 15:05] relyt0925 commented on #399
Prototype can be done in IBM registries.

[2021-09-01 18:09] ironcladlou commented on #440
Fixed by https://github.com/openshift/hypershift/pull/449

[2021-09-01 18:09] #440 closed

[2021-09-02 00:43] tmishina commented on #444
@ironcladlou Thank you, I can successfully build the CLI by using `make`!

@enxebre In my understanding, the suggested line (`replace sigs.k8s.io/cluster-api => sigs.k8s.io/cluster-api v0.4.2`) has already been added in [this commit](https://github.com/openshift/hypershift/commit/c0eb13ce5ad24997ef886572d84afcae78787983#diff-33ef32bf6c23acb95f5902d7097b7a1d5128ca061167ec0716715b0b9eeaa5f6R62).  Is

[2021-09-09 09:11] #406 closed

[2021-09-10 15:35] sjenning commented on #445
oh! this is why there are no e2e artifacts for the HostedClusters now :man_facepalming:

[2021-09-13 21:11] csrwng opened #471 "machine health checks causing capi controller to panic"
I enabled autorepair on my main nodepool, and I'm seeing this in the capi controller:
[code]

[2021-09-13 21:11] csrwng commented on #471
/cc @enxebre

[2021-09-14 22:18] csrwng commented on #471
@enxebre I see this was fixed by https://github.com/kubernetes-sigs/cluster-api/pull/5110 Thank you!
When can we pick up that fix? I don't see it included in a release.

[2021-09-16 17:36] sjenning opened #476 "Multiple ssh keys not supported"
If the `--ssh-key` file passed to `create cluster` contains more than one key, the node controller fails to create a valid `MachineConfig`
[code]
[code]
fyi @enxebre

[2021-09-20 12:38] #471 closed

[2021-09-21 15:15] relyt0925 commented on #351
being worked by openshift olm team

[2021-09-22 20:06] #476 closed

[2021-09-29 14:08] relyt0925 opened #516 "GA Operations: Investigation: MCS pod download leaks/extra restarts"
Replication pattern: Delete all ignition-server pods at once with
`kubectl delete pods -n NAMESPACE -l app=ignition-server`

[code]

[2021-09-29 14:12] relyt0925 commented on #516
Key observation from post above:
The key observation is the amount of machine-config-server pods spun up after one restart. I would expect only 3 pods to be spun up (one for each ignition server however if you trace the lifecyle of the pods there are actually 6 over the life span of a restart)

[code]

[2021-09-29 15:30] relyt0925 commented on #516
For the leak:
I think the delete is best effort and if it were to fail the resource will be permanently orphaned. May need a separate time based cleaner that ensures anything older than 20 minutes or whatever threshold is also cleaned:
https://github.com/openshift/hypershift/blob/main/ignition-server/controllers/machineconfigserver_ignitionprovider.go#L80-L98

[2021-10-04 09:49] enxebre commented on #516
The key observation is the amount of machine-config-server pods spun up after one restart. I would expect only 3 pods to be spun up (one for each ignition server however if you trace the lifecyle of the pods there are actually 6 over the life span of a restart)

The expectations depends on the number of token secrets you have right? How may token Secret are there in that clusters?
Do you have the

[2021-10-04 19:25] relyt0925 opened #530 "RHCOS inplace upgrade/join system (upi path)"
We need to come to an agreement on the "base architecture" for UPI (user provisioned) infrastructure. Once the base is provided IBM will consider how to build on that base and integrate into the Satellite environment. This is  tracking coming up with the original design and then we will move forward with implementation issues

[2021-10-12 20:43] relyt0925 commented on #397
Went through one general one through and things behaved appropriately. Need to redo the process and check more into the console, etc.

[2021-10-13 03:13] relyt0925 commented on #279
/remove-lifecycle stale

[2021-10-13 03:14] relyt0925 opened #554 "RHCOS MVP test: Test E2E bootstrapping of RHCOS nodes in IBM Satellite"

[2021-10-14 02:56] relyt0925 opened #559 "GA operations: long time to rollout control plane when hypershift operator managing 100+ hosted control plane clusters."
(I also had to increase the retry count forwait for cluster to rolloutfrom 40 to 70 to avoid some hosted cluster creation failures. The first 100 hosted clusters created without any errors. The error count then started to progressively increase as we moved from 100 -> 200)

Retry delay is 15 seconds so that means we had to go from
10 minutes to
17.5 minutes to rollout the cluster. More data to fol

[2021-10-15 01:49] relyt0925 opened #561 "Compliance Operator check analysis/adjustment"
Our research team attempted to use the compliance operator in a hypershift control plane. They posed their findings in this .md file

Likely requires changes to the compliance operator to properly set these values appropriately
[compliance-check-for-hypershift-and-counter-actions.md](https://github.com/openshift/hypershift/files/7350295/compliance-check-for-hypershift-and-counter-actions.md)

- [

[2021-10-15 16:20] relyt0925 opened #564 "Compatibility in vanilla kube clusters: Provide ability to toggle/remove openshift specific concepts"
So far those have appeared to be
Watches on Routes
PodMonitors

[2021-10-15 16:22] relyt0925 opened #565 "Compatibility in vanilla kube clusters: Add logic to releaseimage lookup to do release mapping to mirror"
We should add logic in the release provider lookup to allow the translation of the root images (all quay.io based) to an image mirror registry based on the imageContentSourcePolicies that are applied to a given hostedCluster.

[2021-10-15 16:23] relyt0925 opened #566 "Compatibility in vanilla kube clusters: Provide support for non-root security context default additions to all control plane components"
In vanilla kuberentes: Security contexts need to be explicitly specified. We should provide a seamless way since the vast majority of components running in the control plane should run non-root for that non-root ID security context to be applied to all components.

[2021-10-16 21:11] #234 closed

[2021-10-16 21:11] #245 closed

[2021-10-18 03:10] #242 closed

[2021-10-19 09:59] jianzhangbjz opened #576 "spec.nodePoolManagement: Required value"
Following this [How to add additional node pools to the example cluster](https://github.com/openshift/hypershift#how-to-add-additional-node-pools-to-the-example-cluster):
[code]
But, get the below errors:
[code]

[2021-10-22 10:39] rmohr opened #589 "Not all created cluster components have access to the pull secret"
When executing hypershift on kubernetes (with #584 and #585 applied) the cluster is deployed successfully, but not all components have access to the provided pull secrets and therefore some images can't be accessed:

[code]

Applying this patch resolves that:

[code]

I guess that in the case of CI, the components can come up because the default serviceaccounts in the namespaces can pull the image

[2021-10-22 10:55] rmohr opened #590 "Discuss: Support for vanilla kubernetes as mgmt cluster"
This is a tracker/discussion bug about how to enable and support vanilla kubernetes as mgmt cluster.

## Scope

There exist two possible scopes:
 * best-effort usage for development purposes (e.g. for a KubeVirt platform)
 * making this an official scenario which requires testing as usual

## Here technical steps which I could identify as necessary:

 - [x] Make route watching optional (#584, #604

[2021-10-22 11:02] rmohr opened #591 "Discuss: Adding a KubeVirt Management Platform"
A few people from [KubeVirt](https://github.com/kubevirt/kubevirt) would be happy to explore adding a kubevirt platform to hypershift. I would be happy to get some feedback if that is welcome.

If so, here the steps I could identify which would probably need to be addressed:

### hypershift binary

 - [x] Move `aws` create behind `hypershift create cluster aws` and `hypershift destroy cluster aws`

[2021-10-26 14:44] relyt0925 opened #596 "Existing IKS Tugboat support: control image versions (not in place for catalog-content)"
We need to control the versions of what we deploy on a given release for security reasons.

The current main gaps are the catalog images that use a default tag of v4.8. Those just need to be able to be locked to a specific version.

[2021-10-27 08:26] xuezhaojun opened #603 "HostedCluster stuck in "Partial" because of "UnhealthyControlPlaneComponents""
OCP: 4.7.13

After create a hostedcluster, it stays in “Partial”：

[code]

And I also found some error msgs from pods' logs:

From `hypershift`:
[code]

From `ignition-server`:
[code]

From `control-plane-operator`:
[code]

I get a little confused about how to begin troubleshooting, can anyone give me some advice?

[2021-11-04 07:35] rmohr commented on #564
Routes should be addressed now with #584 and #604.

[2021-11-05 20:21] aelbarkani commented on #591
If this is achieved, OpenShift would be a 100% hyperconverged infrastructure. So clearly +1 !
I'm seeing [here](https://github.com/openshift/installer/pull/5301) though a decision to drop support for KubeVirt in OpenShift installer. Also [this ](https://github.com/openshift/cluster-api-provider-kubevirt) repo doesn't seem to be maintained, so hopefully we can have more insights from Redhat team on

[2021-11-07 13:37] jwcroppe commented on #400
/remove-lifecycle stale

[2021-11-07 23:47] relyt0925 opened #650 "add resource requests to hypershift operator install and review to ensure all components have requests"
hypershift operator currently when getting installed does not set any resource requests. That should be done. In addition any other components should be scanned to see if they don't have any

[2021-11-07 23:48] relyt0925 commented on #650
Relevant code:
https://github.com/openshift/hypershift/blob/main/cmd/install/assets/hypershift_operator.go#L121

[2021-11-08 00:08] relyt0925 commented on #408
Good ones to start with are operator, control-plane-operator, and hosted-cluster-config-operator

[2021-11-08 00:13] relyt0925 commented on #408
relevant code for operator:
https://github.com/openshift/hypershift/blob/main/cmd/install/assets/hypershift_operator.go#L122

relevant code for control-plane-operator:
https://github.com/openshift/hypershift/blob/main/hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go#L1837

relevant code for hosted-cluster-config-operator:
https://github.com/openshift/hypershift/blob/641156

[2021-11-08 01:29] relyt0925 opened #651 "make hypershift creds mount optional or determine cloud agnostic approach"
right now the install command will only provide an output for aws based hypershift deployments due to the hypershift-credentials that were added (aws specific)

This involves enhancing that to be able to be more "cloud agnostic" and provide a path where it isn't required. Based on this PR:
https://github.com/openshift/hypershift/commit/09fb819853c144fbc1229135f5df9d01187918bb

[2021-11-08 01:37] relyt0925 opened #652 "add upstream tests for IBM Cloud clusters on prs"
Currently there is no upstream pr testing for IBM Cloud based clusters. We should provide a way for our tests to run against master in order to track regressions upstream. This can integrate with the RHCOS deployment model we use as well in our test clusters. Test should be based on the molecule system we use that wraps hypershift

[2021-11-08 01:37] relyt0925 commented on #652
relevant code:
https://github.com/openshift/release/blob/master/ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.8.yaml

[2021-11-08 01:44] relyt0925 commented on #651
For now workaround is to just remove the mount and secret since it isn't required

[2021-11-08 01:56] relyt0925 commented on #414
Example scenario:
When security patches necessary (IBM needs to patch CVEs on a regular cadance 2 weeks for high vulns) how do we initiate rebuilds/etc with the Openshift team?

[2021-11-08 02:58] relyt0925 commented on #261
/remove-lifecycle stale

[2021-11-08 02:59] relyt0925 commented on #261
Design doc in process:
https://coreos.slack.com/files/U9TF68JS3/F02JZCQPTJN/hypershift_-_guest_cluster_metrics

[2021-11-08 03:54] relyt0925 opened #653 "add limits to applicable components (like konnectivity)"
We should analyze which components we can safely add limits to. One important use case that we can start with is currently konnectivity has a memory/socket leak (hopefully fixed in newer versions). Without adding a limit: it eats up all the memory on the node (5 Gigs+) and causes eviction events.

There might be other components we can safely limit as well (even if they are high to be safe). We sh

[2021-11-08 11:21] fabiand commented on #591
We want to build the right approach to bring up tenant clusters. And the two links you have provided above illustrate a previous exploration.

[2021-11-08 12:22] aelbarkani commented on #591
Hi @fabiand ! Thanks for your answer. If you have more information about why KubeVirt wasn't a good idea for this purpose I'm interested !

[2021-11-08 15:12] relyt0925 commented on #397
- [ ] CA rotation
- [ ] Pod subnet specification
- [ ] Service subnet specification
- [ ] Patch Upgrades

[2021-11-08 20:57] relyt0925 commented on #408
Example code link to where to add livliness probe for hosted-cluster-config-operator:
https://github.com/openshift/hypershift/blob/main/control-plane-operator/controllers/hostedcontrolplane/configoperator/params.go#L42

And example livliness probe for kas:
https://github.com/openshift/hypershift/blob/main/control-plane-operator/controllers/hostedcontrolplane/kas/params.go#L153-L165

[2021-11-09 13:15] nunnatsa opened #658 "Suggestion: Refactor the HostedClusterReconciler.Reconcile function"
/type: enhancement

The reconciliation of the HostedCluster CR is complex, and so the Reconcile function is meaningfully large.

In addition, more and more providers and platform are added, or planed to be added, and it will make the function even more complex.

This suggestion is not about changing the function logic, but refactor it.

The idea is to take any platform specific code out of this fu

[2021-11-09 16:35] aravindhp commented on #223
@relyt0925 @enxebre where should I be opening up follow up issues to track customizing network type configuration?

[2021-11-10 03:01] relyt0925 commented on #306
/remove-lifecycle stale

[2021-11-10 03:01] relyt0925 commented on #306
Running performance tests with updates as well......

[2021-11-10 16:45] jwcroppe commented on #401
/remove-lifecycle stale

[2021-11-10 19:37] hasueki commented on #652
/assign @hasueki

[2021-11-10 19:39] hasueki commented on #408
/assign @hasueki

[2021-11-12 17:52] jnpacker opened #674 "Platform AWS Controller for Hypershift provisioning"
# Problem
To provision Hypershift, it would be useful to have a kubernetes API approach for provisioning Hypershift HostedClusters on the ManagementCluster.

# Prototype 1
Wrap the Go code from the Hypershift CLI, while still maintaining the CLI capability to configure the required AWS infrastructure.  This was done by linking a controller reconcile loop to the HostedClusters kind.  It also levera

[2021-11-12 18:05] jnpacker commented on #674
## Prototype 1
Working code can be found here: https://github.com/jnpacker/hypershift/tree/platform-aws-controller/examples/cluster-demo

### Todo
* Need to separate HostedCluster and NodePool provisioning, the user/console should create both resources individually
* Need to add the AWS Provider Credential reference to HostedCluster
* Need to determine if the route53 us-east-1 relationship is for

[2021-11-14 22:21] relyt0925 opened #681 "Do failed image imports ever get retried? (konnectivity bootup/ oc new-app problem)"
Background: for a period of time since the openshift-apiserver now is wired to talk into the cluster for image imports image imports will fail. This is because konnectivity needs to startup and connect to the konnectivity server before image imports can start working.

What I have seen is image imports that hit an "internalError" only retry the first tag if there are multiple tags in an image stre

[2021-11-14 22:41] relyt0925 commented on #681
they do end up getting retried it seems

[2021-11-15 05:22] relyt0925 commented on #681
I looked further in this use case and it looks like only the first tag is retried
[code]

[2021-11-15 05:22] relyt0925 commented on #681
[code]

[2021-11-15 05:30] relyt0925 commented on #681
It looks to be moving but at a slow pace
[code]

[2021-11-15 13:55] mkumatag commented on #231
/remove-lifecycle stale

[2021-11-15 13:55] mkumatag commented on #396
/remove-lifecycle stale

[2021-11-15 15:37] jnpacker commented on #674
Met with the team MON NOV, 15, 2021
* Move forward with the Job approach
* Break the nodePool off
* Create a Platform resource to see what it looks like compared to the hostedClusters, can it be 1x Platform TO MANY HostedClusters??
* Split the access control, can one account be used to provision control plane and one account be used to provision the workerPlane

[2021-11-16 02:50] relyt0925 commented on #681
fixed by going direct on the well known registries

[2021-11-16 02:50] #681 closed

[2021-11-16 20:20] relyt0925 commented on #564
this is done!

[2021-11-16 20:20] #564 closed

[2021-11-16 20:43] hasueki commented on #650
Resource request specification should get added somewhere here, https://github.com/openshift/hypershift/blob/7039f790e959f7daab7234f45697b9f6f0fac017/cmd/install/assets/hypershift_operator.go#L155

API: https://github.com/kubernetes/api/blob/882d2ec6f15bb12af59722949736d9722a2afe47/core/v1/types.go#L2218

[2021-11-16 21:44] relyt0925 commented on #653
closing for now since openshift policy is to avoid limits on cluster critical components. But it's an option when we know we have a bad endpoint.

[2021-11-16 21:44] #653 closed

[2021-11-18 05:59] xuezhaojun opened #694 "Install Hypershfit failed: no matches for kind "ServiceMonitor""
The openshift version is 4.8
The hypershift is lastes

After run the install command:
[code]

I got error:
[code]

Did anyone get this issue before?

[2021-11-18 16:11] gsrajpal commented on #566
/assign @gsrajpal

[2021-11-18 18:35] jnpacker commented on #674
## Prototype 2
- [x] Disconnected nodepool and hostedcluster provisioning, so you need to create those two resources
- [x] Created a ProviderPlatform resource that contains all the AWS related goodies, and creates them if they are missing
- [x] ~Dropping the job idea, as the AWS pieces for now are fast enough~
- [ ] Teach the HostedCluster and NodePool controllers to read values from the ProviderP

[2021-11-18 19:51] hasueki commented on #408
/unassign @hasueki
/assign @michael-topchiev

[2021-11-23 09:34] mkumatag commented on #396
PR https://github.com/openshift/hypershift/pull/690 merged, now `DeserializeImageMetadata` should be able to deserialize the release data

[2021-11-23 09:44] mkumatag commented on #396
Now ibmcloud image is shipped via 4.10 release and same can be read from the rhcos.json

**VPC Image:**

<img width="1115" alt="image" src="https://user-images.githubusercontent.com/12646029/143001638-8a07f7f1-0703-4cb1-8b1b-b154cb998a32.png">

**PowerVS image:**

<img width="951" alt="image" src="https://user-images.githubusercontent.com/12646029/143001793-829128e2-7497-4718-95e8-1cd67dab5fa6.png

[2021-11-23 21:57] jeremyeder opened #711 "failed to create infra: cannot create NAT gateway: InvalidSubnet"
One of my create tries failed with this error.  I retried the create command again, and it went through successfully.

[code]

[2021-11-25 05:40] xuezhaojun opened #714 "Build Hypershift in Linux failed(but success in macOS)"
In Linux Os:

I clone this repo and run `make build`(using the lastest version), it returns with error information as the following:

[code]

But it successed in macOS environments.

[2021-11-28 16:57] alvaroaleman commented on #714
That error happens if you using a go version < 1.17 and is unrelated to the operating system. Please setup go 1.17 and it will work

[2021-11-29 02:55] relyt0925 opened #718 "Remove kube:admin login from IBM Cloud deployments (or option to turn off)"
We should not have a generic admin login to the console. This needs to be removed at a minimum in the case of ibm cloud deployments.

[2021-11-29 04:03] xuezhaojun commented on #714
Thanks, it works!

[2021-11-29 04:03] #714 closed

[2021-11-30 15:58] jwcroppe commented on #399
/remove-lifecycle stale

[2021-11-30 21:43] michael-topchiev commented on #408
I do not see metrics or health endpoints in cluster-policy-controller and could not find them in its source code either (https://github.com/openshift/cluster-policy-controller). Adding the probes to cluster-policy-controller will probably require modifying cluster-policy-controller code.

[2021-11-30 22:04] michael-topchiev commented on #408
cluster-version-operator does not have any listeners, neither for metrics nor for liveness/readiness probes. I do not see the probes its source code either (https://github.com/openshift/cluster-version-operator). Adding the probes to cluster-version-operator will probably require modifying cluster-version-operator code.

[2021-11-30 22:21] relyt0925 commented on #530
RedHat is still in the design phases of this. We will check back on the sync up this thursday

[2021-12-03 10:03] moriohara opened #747 "Support a heterogeneous cluster using a multi-arch release image"
We want to create a heterogeneous cluster using a multi-arch release image, as shown below.
[code]
`ocp-release-nightly:4.9.8-multi` points a multi-arch manifest of cluster-version-operator. `ProcessManifestList` is supposed to pick up an architecture-specific manifest from the multi-arch one when the release image is multi-arch (i.e. `srcManifest` is a `DeserializedManifestList`). The current cod

[2021-12-03 13:58] hasueki commented on #650
/assign @jzielny

[2021-12-05 23:09] relyt0925 opened #756 "Race condition deleting nodepool tokens can lead to blocking namespace deletion"

[2021-12-07 08:35] #694 closed

[2021-12-07 08:36] xuezhaojun commented on #694
It seems ok in the latest version.

[2021-12-08 18:05] mkumatag opened #767 "Edit page link is pointing to invalid link"
In the docs, it is pointing to wrong page:

<img width="1438" alt="image" src="https://user-images.githubusercontent.com/12646029/145260350-b459d5ff-e318-4fde-b4b6-a16250e4b162.png">

[2021-12-08 18:06] mkumatag commented on #767
Its taking me to: https://github.com/openshift/hypershift/edit/master/docs/index.md link which is wrong

[2021-12-09 14:56] #767 closed

[2021-12-11 03:18] #756 closed

[2021-12-11 03:18] #651 closed

[2021-12-13 17:16] rgschofield commented on #306
https://github.com/openshift/multus-admission-controller/issues/40

We've also raised the above issue that highlights instabvilities following kube-apiserver restarts that are triggered by the multus admisson controller running on each node in the management cluster.

[2021-12-13 18:29] relyt0925 opened #780 "Distribute load of olm-collect-profiles cronjob and reduce frequency"
Currently this job runs every 15 minutes and all clusters in the management cluster control plane would schedule jobs at the same time

[code]

We should use a hash (the others do this) of the cluster id and select a distrubuted time period based off of this so workload from all management clusters don't schedule at same time. Note there can be a max of 440 management clusters per tugboat

[2021-12-14 12:39] rmohr commented on #591
A first WIP PR by @nirarg finally exists: #779

[2021-12-17 22:17] #365 closed

[2021-12-20 10:18] #241 closed

[2021-12-21 21:08] relyt0925 commented on #530
We are moving further on this:

The current idea is to utilize the Agent strategy (without utilizing the assisted installer).

Then the redhat team is meeting with the MCO folks for an MVP design on how to account for the MachineConfig and MachineConfigPool APIs that downstream operators rely on to configure machines.

[2021-12-22 02:30] relyt0925 commented on #516
I don't see this being a problem after we have fixed the nodePool reconciliation in this pr for IBMCloud clusters:
https://github.com/openshift/hypershift/commit/1df13b9cde220c50c80289f6f02cd693013926c6

[2021-12-22 04:10] relyt0925 commented on #516
Things are looking better after the reconciliation fix I will close and reopen if I notice more problems

[2021-12-22 04:10] #516 closed

[2021-12-22 10:45] hardys commented on #530
@relyt0925 do you have any more details on this?  It'd be great to consider if/how we might avoid long-term overlap with the assisted agent platform flow /cc @avishayt

[2021-12-22 10:51] RiRa12621 opened #803 "CLI install fails"
Following the [documentation](https://hypershift-docs.netlify.app/getting-started/), the installation of the CLI is failing as follows:

[code]

Local Go version
[code]

[2021-12-29 12:20] snorwin commented on #803
`go get -u github.com/openshift/hypershift@latest` can be used as a workaround.

[2021-12-29 12:36] RiRa12621 commented on #803
Confirmed.
You just get a small warning at the end, but nothing to be worried about (for anyone else coming across this):

[code]

[2021-12-29 16:07] relyt0925 opened #810 "GA Operations: Pass max worker pool scale test 440 clusters, 12 nodepools each"
We should ensure we can properly support up to 5280 total nodepools active at one time.

This involves building a management cluster with 440 active hypershift clusters.
Then creating 12 unique nodepools in each hypershift cluster
Then we need to perform an update (bom patch update) across all worker pools

We need to monitor and ensure everything behaves appropriately at scale across these operat

[2022-01-01 22:23] #240 closed

[2022-01-02 04:22] #386 closed

[2022-01-03 03:00] relyt0925 commented on #350
Note: IBM will still need to perform and pass it's zonal failure test suite.

[2022-01-03 06:31] #412 closed

[2022-01-03 06:31] #411 closed

[2022-01-03 06:31] #410 closed

[2022-01-03 06:32] #394 closed

[2022-01-03 06:32] #364 closed

[2022-01-04 02:55] #349 closed

[2022-01-04 15:34] rmohr commented on #591
#779 just merged. We still have to secure our progress with CI and testing and work on official capik providers, ... but basic functionality exists.

[2022-01-05 10:26] #233 closed

[2022-01-05 17:12] openshift-merge-robot opened #820 "Future Release Branches Frozen For Merging | branch:release-4.16 branch:release-4.17"
The following branches are being fast-forwarded from the current development branch (main) as placeholders for future releases. No merging is allowed into these release branches until they are unfrozen for production release.

 - `release-4.16`
 - `release-4.17`

For more information, see the [branching documentation](https://docs.ci.openshift.org/docs/architecture/branching/).

[2022-01-05 22:25] #398 closed

[2022-01-07 03:37] relyt0925 commented on #780
finished!

[2022-01-07 03:37] #780 closed

[2022-01-07 09:53] DouglasJR1 opened #826 "capi-provider pod wan't start on OCP 8.24 management cluster"
Hello,
I got an issue when I have deployed hostedclusters on **Platform : OCP 8.24** :
**hypershift version : latest**

In the management cluster inside the clusters-X namespace all pods running well except capi-provider pod :

Describe of the pod capi-provider-7dfd5f846f-2lpmb show event below :

I don't know how to resolve this issue I try to modify deployment capi-provider but not succefully

M

[2022-01-11 22:30] #409 closed

[2022-01-13 04:30] #415 closed

[2022-01-13 11:49] gregsheremeta opened #855 "`hypershift create cluster aws --render` doesn't render, actually applies to AWS"
`hypershift create cluster aws --render` doesn't render, actually applies to AWS

[code]

maybe `render` doesn't work for this command, in which case it should not be in the help output.

[2022-01-13 14:04] enxebre commented on #855
Is this because false is default? what happens if you set is explicitly --bool=[true|false]?

[2022-01-13 16:40] csrwng commented on #855
The issue is that creating a cluster requires some input from creating aws infra and aws iam. If you specify `--infra-json [some-file]` and `--iam-json [some-file]` then render works as expected. If you don't specify those, then it tries to create the infra and iam before rendering the hc (but it still does render it instead of applying it)

[2022-01-14 18:42] jnpacker commented on #674
It was decided after further review with the team, that a platform was not the approach they wanted to take.  We will revisit this in a few weeks once more Platforms are on board.  For the time being I will close this out.

The work was refactored and is being used in ACM to support the push one button use story (create infra and Hypershift HostedCluster).  It can be found here: https://github.com

[2022-01-14 18:42] #674 closed

[2022-01-14 18:48] jnpacker opened #859 "As an orchestrator, I want to consume the existing hypershift CLI flows for AWS"
# Problem Statement
I want to perform the same hypershift CLI flows in a controller, go program running somewhere, but I don't necessarily want to have the AWS credential as a file.  Especially when I'm running the infra/aws code in a controller, there will be different credentials for each execution run.

## Options
1. Enhance the AWS calls to support a Static User credential.  This means allowin

[2022-01-15 16:31] #417 closed

[2022-01-17 04:13] relyt0925 commented on #530
@hardys this slack link might help with details (demo video of whole process):
https://coreos.slack.com/files/U015GA40J4E/F02T97WNPL4/rhcos_demo.zip

Strategy has been approved. closing

[2022-01-17 04:13] #530 closed

[2022-01-20 04:25] relyt0925 commented on #408
Remaining components without healthcheck
[code]

[2022-01-20 05:18] relyt0925 commented on #408
/unassign @michael-topchiev

[2022-01-20 05:19] relyt0925 commented on #408
Remaining ones require more work and are
[code]

[2022-01-20 11:53] jan--f commented on #444
I also just ran into this.

Is it maybe worth updating https://github.com/openshift/hypershift/blob/71106752a4f2cc97ace5b56a752bce451fa1d613/docs/content/getting-started.md?plain=1#L21-L24 until either `go install` can handle this [scenario](https://github.com/golang/go/issues/44840) or the replace directives go away?

[2022-01-20 18:37] ironcladlou commented on #803
Thanks! Didn't know about the `go get` workaround... not ideal but better than nothing. Some day I'd like to get cross compiled binaries published somewhere public for this. I went ahead and made the docs update in https://github.com/openshift/hypershift/pull/880.

[2022-01-21 10:37] #433 closed

[2022-01-23 05:35] relyt0925 commented on #397
Portieris test passed e2e in Satellite environment

[2022-01-23 08:10] relyt0925 opened #903 "cluster-autoscaler crashing"
[code]

[2022-01-23 16:37] #439 closed

[2022-01-23 18:21] relyt0925 commented on #414
Chat here:
https://coreos.slack.com/archives/C01C8502FMM/p1642609756019500

[2022-01-26 15:03] smalleni opened #921 "Creating new nodepool in aws throws CLI issues"
Follwing the hypershift docs, I'm trying to create a new nodepool for a hostedcluster.

I see that the --cluster-name and --name options are supported for the base `hypershift create nodepool` command but running `hypershift create nodepool aws` results in an error where the --cluster-name and --name arguments are not recogonized.

[code]

[2022-01-26 16:06] nirarg commented on #921
The issue is that using Flag instead of PersistendFlag in the CLI
I'm working on fix

[2022-01-26 19:12] #921 closed

[2022-01-27 02:20] relyt0925 opened #925 "GA: Fix ingress policies to account for nodeports when specified or disable usage when nodeports specified"
the ingress policies currently applied do not work for node port servicies. It specifically fails on the:
ignition-server
oauth-server
konnectivity-server

Either those ports need to be added to the ingress rules or the rules need to be disabled when nodeports are used for this path

[2022-01-27 02:26] relyt0925 commented on #903
fixed with:
https://github.com/openshift/kubernetes-autoscaler/pull/220

[2022-01-27 02:26] #903 closed

[2022-01-27 20:42] #925 closed

[2022-01-28 21:14] e-minguez opened #934 "'failed to reconcile capi manager role: RoleBinding.rbac.authorization.k8s.io \"cluster-api\" is invalid' when creating an agent hostedcluster"
When trying to deploy an agent hostedcluster fails as:

[code]

The cluster-api-provider-agent was deployed as:

[code]

Assisted service was deployed using downstream bits (RHACM) as:

[code]

And finally hypershift was deployed as:

[code]

[code]

As per conversations with @csrwng in slack, it looks like the role binding in the agent provider conflicts with the rolebinding created for the capi

[2022-01-28 21:28] csrwng commented on #934
/assign @avishayt

[2022-01-29 19:48] relyt0925 opened #937 "Errors in reconcilation when changing a deployments Rollout Strategy"
The reconciliation logic in place today does not work when a deployment switches from a rollingupdate strategy to a Recreate strategy.

Although this is rare: it would be good to have a way to reconcile these changes (encountered on upgrades for a critical fix for the control-plane-operator:
[code]

[2022-01-30 21:41] relyt0925 commented on #414
Proceeding to do internal builds that control the base image (ubi minimal) and go version until all images can be integrated and produced by the ART process. At which point we can transition to use those (likely not till 4.11):

[2022-01-31 10:10] #934 closed

[2022-01-31 23:28] relyt0925 opened #945 "MVP: Control-plane-operator does not properly reconcile when a component changes environment variables (upgrade blocker)"
On 4.8 to 4.9 upgrades the CVO changes a env var that is critical to selecting the appropriate cluster operators that go into a given cluster. Links are provided below:
Release-4.8
https://github.com/openshift/hypershift/blob/release-4.8/control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go#L217-L218

Release-4.9
https://github.com/openshift/hypershift/blob/main/control-plane-oper

[2022-01-31 23:44] relyt0925 commented on #945
The main problem currently is there are two distinct steps that update the hosted cluster and the control-plane-operator image and they can occur at independent times: If this check is not in place (or some form of it): there will always exist the possibility for a control plane operator built for a different release to reconcile a newer release which can result in clusters entering a abnormal sta

[2022-02-01 02:03] relyt0925 commented on #945
This also is likely occuring with the hosted-config-operator so we should determine a strategy for both.....

[2022-02-01 16:46] relyt0925 commented on #945
Key point: A 4.9 CVO should never have the env var
[code]

Which is the result produced when the 4.8 control plane operator reconciles a 4.9 release image per the top comment.

[2022-02-01 16:49] relyt0925 commented on #945
The requested diff between the two
[code]

Although the key point is there is no change from `EXCLUDE_MANIFESTS` to `CLUSTER_PROFILE`

[2022-02-03 09:13] nirarg opened #961 "Create Kubevirt Platform quick start docs"
As part of adding new Kubevirt Platform to the Hypershift project, need also to add quick start docs
This is needed in order to gain platform stability and to have the option to try and test it by external users

[2022-02-03 09:13] nirarg commented on #961
/assign @nirarg

[2022-02-04 16:45] jzielny commented on #650
https://github.com/openshift/hypershift/pull/970

[2022-02-07 01:50] jwcroppe commented on #400
/remove-lifecycle stale

[2022-02-07 01:51] jwcroppe commented on #400
@mkumatag FYI

[2022-02-07 16:52] #445 closed

[2022-02-08 09:08] mkumatag commented on #400
For the cloud scenario now, RHCOS pipeline is created to publish the powervs compatible images to the COS bucket and also updated the [rhcos.json](https://github.com/openshift/installer/blob/3f318d7049d5f4b6f98211b4b899fdb43b1f3542/data/data/coreos/rhcos.json#L247:L307) file.

and also we have the patch in the hypershift code to read the content via https://github.com/openshift/hypershift/pull/690

[2022-02-08 15:42] javipolo opened #986 "Unable to install hypershift cli following the documentation"
When trying to install hypershift using the `go get -u` way, I get the following error:
[code]

Go Version
[code]

However if I download the repo I can get all deps and build the binary
[code]

[2022-02-08 17:25] mkumatag commented on #401
/remove-lifecycle stale

[2022-02-09 02:54] mkumatag commented on #401
For the PowerVS platform we have added support to - https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud

[2022-02-09 02:59] jwcroppe commented on #401
Great work, @mkumatag!  I'm wondering... do we want to track any other Power work here - or should we consider more granular issues that we can track/close?

Thoughts @relyt0925?

[2022-02-09 16:25] #650 closed

[2022-02-10 08:04] enxebre commented on #279
we are running the machine approver now
/close

[2022-02-10 08:04] #279 closed

[2022-02-12 22:58] alvaroaleman commented on #945
Fixed in https://github.com/openshift/hypershift/pull/963
/close

[2022-02-12 22:59] #945 closed

[2022-02-12 23:19] relyt0925 opened #1008 "CoreOS MVP: Ignition Server Token Rotation Problem: Rotation kills all in flight provision operations (No overlapping time with old and new token in place)"
The current process to rotate ignition tokens has a gap: there is no period of time to where both tokens for a given config version are both active. Let's walk through the full lifecycle of the current process:

1) Token Secret created here:
https://github.com/openshift/hypershift/blob/main/hypershift-operator/controllers/nodepool/nodepool_controller.go#L467

It is only ever created: (data specifi

[2022-02-12 23:34] relyt0925 commented on #1008
Replication:
1) Download the token in use from the user-data secret:
[code]

2) Curl the ignition endpoint, you will be able to download the payload
[code]

3) Wait for secret to get to any short period of time before expiration
[code]

4) Watch secret get recreated:
[code]

5) Try to curl using old ignition token
[code]

To test fix:
We should have a well known period where 2 token values are act

[2022-02-12 23:41] relyt0925 commented on #1008
Acceptance Criteria:
- [ ] A rotation pattern that does not result in large scale redeployments of the machine config server pods on an interval when no config parameters change. (Only thing that should change is the token).
- [ ] A rotation pattern where for a well defined period of time: two tokens are able to be used for a given payload in a period of time. The rotation pattern then in a define

[2022-02-13 09:55] nirarg opened #1009 "Change API server default publishing strategy for NONE platforms"
Currently, in **Kubevirt**, **Agent** and **None** platforms, the API server is created with NodePort publishing strategy.

For production environments, the Nodeport publishing strategy can't be used, and for those cases we can have the assumption that the management OCP cluster supports LoadBalancer.
I want to change  the default publishing strategy to LoadBalancer and to add specific flag (--nod

[2022-02-14 07:52] nirarg opened #1010 "Change Cluster create CMD to use NodePool create CMD code"
Currently there is duplicated code for creating NodePool structure
One used from `cmd/cluster/cluster.go` and the second used from `cmd/nodepool/create.go`
This cause to the following issues:
1. Each NodePool CMD change need to be done in 2 places in the code
2. The Nodepool creation code is not tested (e2e tests)

After this change the NodePool creation code would be tested even from the cluster

[2022-02-14 08:00] nirarg commented on #1010
/assign nirarg

[2022-02-15 16:52] relyt0925 opened #1020 "CoreOS MVP: Updating nodePool kills all in flight provision operations (No overlapping time with old and new token in place)"
When a nodePool config gets updated: all in flight provision operations that have yet to download an ignition payload will get killed. Let's walk through the scenario:

Point 1 in time:
We have a nodepool with a given set of config:
[code]

Which corresponds to the following token
[code]

I will now download that token and simulate an "inflight provision happening at this moment in time".

[code]

[2022-02-15 16:53] relyt0925 opened #1021 "CoreOS MVP: Remove need to dynamically schedule Machine Config Server pods"
Performance team is seeing load whenever large amounts of ignition server pods are restarted (440 clusters * 12 node pools per cluster * 3 machine config server pods generated to populate cache of ignition servers) 15840 pods. Since currently the full config is only cached in memory: any restart of an ignition server pod triggers scheduling on machine-config-server pods for each node-pool it is se

[2022-02-15 20:37] relyt0925 commented on #1020
Let's say immediately after boot a config update is done (simulating this by changing a config field):
[code]

Then now let's try and use that same token that the machine was booted with
[code]

That is the root of the problem: when a config update occurs there is no period of time to allow in flight provisions to complete which will result in machine provision failure. We need to have periods of

[2022-02-15 20:40] relyt0925 commented on #1020
We could also consider migrating the existing tokens over to the new endpoint as well if applicable. But effectively anything that could be potentially used for a provision must persist for a given period of time before being revoked to allow in flight provisions to complete. New data can be added for this time so future provisions move to use the new data which at that point starts the "timer" fo

[2022-02-15 22:44] hasueki opened #1026 "Security MVP: Reduce CPO's cluster permissions"
Currently, the CPO has attached `ClusterRole` with the following permissions:
https://github.com/openshift/hypershift/blob/e4b844b9d2c545f24b2ea64bad14257661162407/hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go#L2058-L2089

We should scope-down the actions that it can perform on these resources, or convert the `ClusterRole` to a namespace-scoped `Role` to reduce the area

[2022-02-16 09:06] #961 closed

[2022-02-17 04:51] relyt0925 opened #1028 "Security: Control Plane Components should not automount service tokens if not required"
Our control plane security requires that cluster master pods not automount service acount tokens unless absolutely necessary. Here's the current list of security violations when compared to a non-Hypershift deployment of ROKS version 4.9.

vagrant@verify-cluster:~$ for DEPLOYMENT in $(kubectl get deployments -n master-prtesting49-63493628 -o name); do

deployment.apps/catalog-operator automountSer

[2022-02-17 04:55] relyt0925 opened #1029 "Operations: Set minReadySeconds on HA deployments"
We need to set minReadySeconds to control how fast ha deployments rollout (allow them to be ready for sometime before continuing rollout.

deployment.apps/cluster-api minReadySeconds:
deployment.apps/cluster-policy-controller minReadySeconds:
deployment.apps/ignition-server minReadySeconds:
deployment.apps/konnectivity-agent minReadySeconds:
deployment.apps/kube-apiserver minReadySeconds:
deployme

[2022-02-17 05:04] relyt0925 opened #1031 "Security MVP: All secrets should be mounted to not have global read (change from 420 to 416)"
Secret mounts are failing CIS benchmarks right now because they are all mounted 420 which is 0644 (global read) we should move to using 416 which is 0640 at a minumum to remove global read.
[code]

[2022-02-17 12:51] enxebre commented on #1009
why?

[2022-02-17 15:08] sjenning commented on #1028
This sgtm.  Anyone that has time can proceed with this.  If you are working on this, please post here so we don't dup effort.

[2022-02-17 15:10] sjenning commented on #1029
Default `minReadySeconds` is 0.  What problem is this solving exactly? What value should it be?

I'm inclined to change any problem component to not report ready until it is actually ready, assuming that is the issue.

[2022-02-17 15:11] sjenning commented on #1031
This is a lot of change for not much security benefit, but I'm not firmly against it.  @csrwng any thoughts?

[2022-02-17 15:23] csrwng commented on #1031
Agree, I don't see much security benefit, but not against it either.

[2022-02-17 18:14] nirarg commented on #1009
There is no guaranty that the specific node used for the IP is always running, it might stop running unexpectedly
We can require that the management cluster support LoadBalancer, user can install MetalLB operator on the management cluster in order to support this

[2022-02-17 20:19] hasueki commented on #1026
/assign @hasueki

[2022-02-17 21:47] relyt0925 commented on #1031
I think depending on how they are mounted on the host in tmpfs it allows if a breakout occurs from another container to read secrets in the other pods is the background of the CIS healthcheck.

[2022-02-18 17:02] #351 closed

[2022-02-18 18:23] relyt0925 commented on #1031
@rtheis Do you happen to have the exact CIS health check that does this:
[CIS_Kubernetes_Benchmark_v1.6.0 (1).pdf](https://github.com/openshift/hypershift/files/8099509/CIS_Kubernetes_Benchmark_v1.6.0.1.pdf)
[CIS_RedHat_OpenShift_Container_Platform_v4_Benchmark_v1.1.0_PDF.pdf(https://github.com/openshift/hypershift/files/8099510/CIS_RedHat_OpenShift_Container_Platform_v4_Benchmark_v1.1.0_PDF.pdf)

[2022-02-18 18:27] relyt0925 commented on #1031
Upstream check being checked is
`Ensure that the Kubernetes PKI key file permissions are set to 600` and this is a valid change due to that

[2022-02-19 12:09] rtheis commented on #1031
@relyt0925 See **Master Node Configuration Files** section.  The letter of the law is specific to etcd data, Kubernetes PKI and related Kubernetes control plane configuration files.  However, we have expanded our interpretation and intent to protect all control plane files so that they are only accessed by those with a need to know.  I think this should help with the compliance operator checks.

[2022-02-19 17:03] #444 closed

[2022-02-19 20:48] relyt0925 commented on #1029
We will get our expert ops team to place some comments on this one.

[2022-02-20 06:51] relyt0925 opened #1040 "Security: Auditing Profile reconciliation between ROKS and Hypershift"
The audit Policies deployed by Hypershift and what are currently offered in ROKS toolkit differs. Here are the current policies that are available:

default IBM Cloud policy
[code]

verbose policy:
[code]

Posting the above for analysis..... And will use this to track if there are gaps between what is offered in hypershift versus ours that would result in auditing problems/problems for clients. If

[2022-02-20 17:37] relyt0925 commented on #1040
There is the basis for us to be able to add more policies however the "enum" parameters come from upstream:
https://github.com/openshift/api/blob/b7057289fac81e08b06a564a0c724d1a4f3a783a/config/v1/types_apiserver.go#L77

https://github.com/openshift/hypershift/blob/626c61f6c8780244546256e80ef289e075fb0c6c/control-plane-operator/controllers/hostedcontrolplane/kas/auditcfg.go#L265

https://github.co

[2022-02-20 17:42] relyt0925 commented on #1040
Upstream they also allow the ability to set custom rules:
https://docs.openshift.com/container-platform/4.9/security/audit-log-policy-config.html#configuring-audit-policy-custom_audit-log-policy-config

https://github.com/openshift/api/blob/b7057289fac81e08b06a564a0c724d1a4f3a783a/config/v1/types_apiserver.go#L115

That take precedence over the top level general profile. I believe if that was allo

[2022-02-20 17:52] relyt0925 opened #1041 "Operations: priority class enhancements as node count changes"
A recent addition to IBM Cloud actually modifies the priority class of the master control plane components to be higher if the customer is using more worker nodes in their cluster (and therefore spending more money on the offering).

The values are shown below
[code]

[2022-02-20 17:55] relyt0925 commented on #1041
I believe that will be good behavior to have in hypershift if there's a simplistic way to implement it. It helps ensure that larger clusters don't get evicted/rescheduled first due to potential noisy neighbors on smaller clusters (instead with the priority class the smaller clusters would get evicted first).

[2022-02-20 20:36] relyt0925 commented on #1040
Looking further main gaps **Not Including filtering gaps** from the default policy is
[code]

[2022-02-20 20:39] relyt0925 commented on #1040
It also looks like based off the docs this is the only allowed policy in production:
https://github.com/IBM-Cloud/kube-samples/blob/master/kube-audit/openshift-audit-policy.yaml

[2022-02-20 20:54] relyt0925 opened #1042 "IBM ROKS Toolkit Adoption: Deployment reconciliation fails when labels change"
When Hypershift is going through the process of adopting existing clusters deployed by IBM ROKS Toolkit: It fails reconciling the deployments due to various label changes from the ROKS toolkit repo

[code]

This happens across the majority of the components. @csrwng was mentioning a strategy exists where existing deployments can be taken into consideration on reconciliation. To work around this: e

[2022-02-21 04:35] mkumatag commented on #399
There is an enhancement proposal created for publishing the multi-arch fat manifest release images here - https://github.com/openshift/enhancements/pull/1014 and also there are few release images published here - https://multi.ocp.releases.ci.openshift.org

[2022-02-21 15:14] relyt0925 commented on #1029
@rtheis (sorry for all the pings): Did you have any general background on why the 15 seconds were chosen for most of the deployments for minReadySeconds? I know part of it came from when components were restarting fast over one another at scale it put a lot of load on the management APIServer.

That would help kickoff further discussions on this one.

[2022-02-22 01:32] relyt0925 commented on #414
We have implemented the internal build process but will move to RedHat images as soon as they are available (control-plane-operator starting in 4.10) others Red Hat will notify us on

[2022-02-22 01:32] #414 closed

[2022-02-22 14:11] rtheis commented on #1029
Hi folks.  Here is the general guidance that we provide our teams with respect to readiness.  We prefer probes as the primary means of determining readiness.  However, we also use `minReadySeconds` to ensure stability and availability during rollouts to prevent rollouts from proceeding so quickly that an app update results in all pods crashing.  We also use this as a means to protect our managed e

[2022-02-23 19:03] relyt0925 opened #1046 "Operations MVP: ability to pause reconciliation to allow SRE/dev debug"
Hypershift operators must allow isolated control plane restarts and scaling. I've been battling operators for the ability to restart and scale select control plane components. Being able to do this is an important operations tool used to debug problems and fix clusters. There will be various cases over time operating a large scale offering where we will need to pause for a period of time to have c

[2022-02-23 19:09] relyt0925 commented on #1046
An example from a recent perf test:
Let's say we get to a point where we have an overloaded situation in the control plane. In a recent example of a perf testing: we tried to scale to 440 clusters and the maximum amount of node pools and it ended up overloading the API Server results shown below.

![image (2)](https://user-images.githubusercontent.com/7716924/155389872-688867aa-daad-4f42-96c9-5f62

[2022-02-24 11:56] rtheis commented on #1046
Hi folks,

There are times when we need to do an etcd recovery for a cluster that requires the entire control plane to be shutdown during the recovery.  Shutting down the control plane is an easy way to ensure that we stop all requests to etcd during the recovery process.

We've also encountered times when we need to throttle Kubernetes API server requests to protect the cluster from a rogue appli

[2022-02-24 15:33] michael-topchiev commented on #1028
Out of the list above, based on initial testing, the following components likely do not need auto-mount service tokens:
- catalog-operator
- certified-operators-catalog
- cluster-policy-controller
- community-operators-catalog
- redhat-marketplace-catalog
- redhat-operators-catalog
- olm-operator

[2022-02-24 16:14] ironcladlou commented on #803
Reopening this because it's not clear the `go get -u` workaround remains effective on `main`.

[2022-02-24 16:17] rajinator commented on #803
This is the error I'm seeing with main, seems to pertain to the packages that have a `replace` directive, as noted earlier
[code]

[2022-02-24 18:21] rtheis commented on #1040
ROKS clusters provide the following audit policies:
- https://github.com/IBM-Cloud/kube-samples/blob/master/kube-audit/openshift-audit-policy.yaml
- https://github.com/IBM-Cloud/kube-samples/blob/master/kube-audit/openshift-audit-policy-verbose.yaml

[2022-02-24 18:30] rtheis commented on #1040
I think we may be okay taking one of the options already provided by Hypershift.  I'll have someone investigate.

[2022-02-24 20:12] mukrishn opened #1059 "Invalid characters in `MachineDeployment` resource name"
Creating hosted clusters using latest `hypershift` CLI results in following error,

Management cluster - ROSA `4.10.0.0.nightly`
HostedCluster - `hypershift create cluster aws --name perf-410-f38b-hosted-1 --node-pool-replicas=24 --base-domain example.org --pull-secret pull-secret --aws-creds aws_credentials --region us-west-2 --control-plane-availability-policy HighlyAvailable --network-type Open

[2022-02-24 22:46] #1026 closed

[2022-02-25 12:26] nirarg commented on #1009
It was decided to start only with Kubevirt platform,  if it ever made sense we could expand it to other platforms

[2022-02-25 12:26] #1009 closed

[2022-02-25 15:35] #1008 closed

[2022-02-25 19:55] hasueki opened #1067 "Operations MVP: Extend resource preservation support to more control plane components"
Extension of: https://github.com/openshift/hypershift/issues/378
Initial PR: https://github.com/openshift/hypershift/pull/430

Currently, hypershift operators only support preserving altered resource requests/limits for `kube-apiserver`.  We should extend this feature to other control plane components, so that critical workloads can be accurately scheduled based on it's workload demand.

As an MVP

[2022-02-25 19:58] hasueki commented on #1067
/assign hasueki

[2022-02-25 22:05] #1059 closed

[2022-02-27 02:33] relyt0925 opened #1075 "Security MVP: All images in management cluster must come from IBM Cloud registries (gap in catalog pods) and cannot be dynamic content (changes must come through Change request)"
There are currently 4 images (the catalog sources) that come from a non IBM Cloud registry. They instead come from upstream redhat.io. This is not allowed from an IBM Cloud security perspective in our managed control plane. All images must be sourced from the regional IBM Cloud registry offerings in order to be compliant for a GA offering. Additionally: dynamic content is injected potentially on a

[2022-02-27 05:22] relyt0925 commented on #1075
I think the best strategy at this time might be to just keep them in the guest cluster but open to ideas

[2022-02-27 21:53] relyt0925 opened #1078 "Architecture MVP: What is the appropriate versioning strategy for machine-approver, cluster-api, ignition-server, and cluster-autoscaler)"
Slack chats here:

So food for thought for next week as well with what I was trying to ponder as we are getting closer to GA:
Analyzing what is the appropriate lifecycle versioning strategy of the following components: (machine-approver, cluster-autoscaler, cluster-api) especially across multiple versions
4 replies

[Tyler Lisowski](https://app.slack.com/team/U015GA40J4E)  [1 day ago](https://core

[2022-02-27 23:34] relyt0925 commented on #1021
Example of the overload it causes from last scale run:
[pendingpods.txt](https://github.com/openshift/hypershift/files/8149606/pendingpods.txt)

[2022-03-01 00:06] relyt0925 commented on #1046
/assign @relyt0925

[2022-03-01 03:29] relyt0925 commented on #1078
I thought you were using the existing annotations for that?

[Alberto Lamela](https://app.slack.com/team/U730QU4AG)  [14 hours ago](https://coreos.slack.com/archives/C01C8502FMM/p1646056536367319?thread_ts=1645840706.212099&cid=C01C8502FMM)
https://github.com/openshift/hypershift/blob/main/hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go#L1873

[Tyler Lisowski](https://app

[2022-03-01 12:25] rtheis commented on #1075
Based on our experience running Red Hat OpenShift on IBM Cloud clusters the past few year, I think that stability of the catalog pods is less than desirable and would create an operational headache for us if they run in our managed control plane.  From a security and availability perspective, I think option 1 (move back to guest cluster) is our only viable option.

[2022-03-01 16:48] #1028 closed

[2022-03-02 04:50] relyt0925 commented on #1078
we are aligned with what redhat is doing so closing

[2022-03-02 04:50] #1078 closed

[2022-03-02 21:27] relyt0925 commented on #408
/assign @michael-topchiev

[2022-03-02 21:29] relyt0925 commented on #408
Additionally: Readinessprobes need to be specified on
[code]

Since they are apart of a service.

[2022-03-03 12:09] hbrueckner commented on #747
@moriohara I think this is being corrected with https://github.com/openshift/hypershift/commit/9dcf50e7438961c5e482fcd1665082ff98f06481

[2022-03-03 12:52] moriohara commented on #747
Closing this since this was fixed by https://github.com/openshift/hypershift/commit/9dcf50e7438961c5e482fcd1665082ff98f06481.

[2022-03-03 12:52] #747 closed

[2022-03-03 16:17] #1067 closed

[2022-03-04 15:17] sjenning opened #1103 "Management cluster ingress ClusterOperator show error message because of private IngressController"
The private `IngressController` created by the CPO has the `spec.domain` set to `$clusterName.hypershift.local`.

[code]

[code]

When DNS management is enabled on the cluster, the `ingress-operator` will attempt to create records for this name in the DNS zone configured in the DNS `cluster` config.  This fails because `hypershift.local` is not within the zone.  This results in the `IngressControl

[2022-03-04 21:14] michael-topchiev commented on #408
PR is submitted for these two components: https://github.ibm.com/alchemy-containers/sonar-squad/issues/142

[2022-03-05 22:51] relyt0925 commented on #1046
finished!

[2022-03-05 22:51] #1046 closed

[2022-03-06 21:16] relyt0925 commented on #1042
Also happened on a metrics update pr
[code]

[2022-03-07 17:50] relyt0925 commented on #1021
More data on this:
This causes at max scale (440 clusters * 3 ignition server pods * 12 nodepools = 15840 pods) causes the max etcd size to go up from 2.5 Gigs to 3.5 Gigs (max etcd database size is 4 Gigs before an alarm occurs and outage arises.

(2.5 Gigs is what the cluster is at at the same max scale when no additional ignition server pods/etc are scheduled).

[2022-03-09 15:48] hasueki opened #1125 "Cluster API ClusterRoleBinding is not being cleaned up on delete"
On a HostedCluster delete, all associated resources should get cleaned up. It looks like Cluster API's ClusterRoleBinding for the cluster control plane is not currently being cleaned up.

Observed lingering ClusterRoleBindings:
[code]

[2022-03-09 17:05] #1031 closed

[2022-03-10 03:47] relyt0925 opened #1130 "Gap: Control Plane based Ingress Operator fails canary checks if it doesn't have direct access to a guest cluster ingress subdomain"
The ingress-operator runs a Canary check and reports health and status to the ingress resource by running an HTTPS curl against a canary application
[code]

The problem with this approach is the following: it assumes the ingress operator in the management cluster has direct access inside the cluster to the users ingress route. That is not the case generically: the management cluster can be in a sp

[2022-03-10 03:49] relyt0925 commented on #1130
The result of this is the canary controller reports failures:
[code]

Which leads to customer tickets, etc. I have not noticed functional impacts however.

[2022-03-10 23:42] #1130 closed

[2022-03-11 15:44] hasueki commented on #1075
/assign @hasueki

[2022-03-11 15:48] hasueki commented on #1125
/assign @pcrentsil

[2022-03-12 05:19] #554 closed

[2022-03-13 05:19] #559 closed

[2022-03-14 17:22] #565 closed, assigned to nobody

[2022-03-14 19:40] rtheis commented on #1075
The primary problem that we have seen is the pods being in a non-running state due to them crashing or the container runtime being unable to pull the container images.  We have notified Red Hat of the problems on various occasions.  The latest report came through a severity 1 premium support case.  There are also times when we simply ignore the failures.

Moving these components to the control pla

[2022-03-14 20:54] michael-topchiev opened #1144 "Increase terminationGracePeriodSeconds on select Hypershift HA deployments"
Increase terminationGracePeriodSeconds on the following Hypershift HA deployments to 90 seconds because these pods don't terminate in 30 seconds (default) on IBM ROKS clusters.

[code]

[2022-03-16 13:32] rtheis commented on #1075
In our environment, this was a problem only for the default catalog pods.  We mirror all other images except the default catalog.  And both nodes were being lost and new clusters were being deployed during the outage so customers were hitting problems.  Should these catalog pods have been running in our control plane, the impacts would extended even further due to how we manage alerting and monito

[2022-03-16 23:16] relyt0925 commented on #261
/remove-lifecycle stale

[2022-03-17 00:01] #1075 closed

[2022-03-17 04:23] relyt0925 opened #1156 "Operations: All images with hostedControlPlane should come from release image"
Currently there are a subset of images that are tied to the hypershift operator deployemnt: those images are
[code]

When a hypershift operator rollout is done: it results in deployments doing rolling restarts at scale since this image changes. This ideally should be controlled through the release image if that is what all the other components are trending toward.

[2022-03-17 17:33] rtheis commented on #261
https://github.com/openshift/enhancements/pull/981/files#diff-ff45e6a60a1567f4e77f0a2f64354afe284ff5a10f270fe7935182b59a15c68dR189-R198

[2022-03-20 03:07] relyt0925 commented on #1021
These PRs will unblock the hypershift PR that will fix this:
https://github.com/openshift/machine-config-operator/pull/3013
https://github.com/openshift/machine-config-operator/pull/3012

After these go in and a release image is published with those changes: we can proceed with the hypershift PR.

[2022-03-20 05:26] #576 closed

[2022-03-21 17:27] #589 closed, assigned to nobody

[2022-03-21 21:08] relyt0925 opened #1182 "Operations: ensure imagePullPolicies are IfNotPresent for better tolerance of networking outages"
We should change the image pull policy for all components (besides the catalog operators to be `IfNotPresent` to be able to better tolerate registry outages. With this change: components that were already running and had the image cached on the node would be able to restart and start new pods even if the downstream registry is down.

This will help tangibly with the Satellite disconnected use case

[2022-03-22 03:41] relyt0925 commented on #1182
The main ones that I see currently are

[code]

[2022-03-23 01:29] #1125 closed

[2022-03-23 13:49] #1156 closed

[2022-03-24 19:40] rtheis opened #1201 "Missing control plane prometheus rules"
While reviewing how Red Hat OpenShift on IBM Cloud handled [Preparing to upgrade to OpenShift Container Platform 4.9](https://access.redhat.com/articles/6329921), we noticed that our cluster deploy logic built on [IBM ROKS Toolkit](https://github.com/openshift/ibm-roks-toolkit) was missing the [api-usage PrometheusRule](https://github.com/openshift/cluster-kube-apiserver-operator/blob/release-4.9/

[2022-03-25 11:04] itmwiw opened #1203 "Kubevirt cluster"
Hello,
When creating a kubevirt cluster using :
[code]
I get the following message:
[code]
and when checking the created pods:
[code]
here's the logs of ignition-server's pod:
[code]
Can you help me please?
Thanks in advance

[2022-03-25 23:31] #596 closed

[2022-03-26 05:31] #561 closed

[2022-03-26 11:33] #603 closed

[2022-03-26 13:34] itmwiw commented on #603
hello,
I have the same issue. I'm trying to deploy a cluster with kubevirt platform and I keep getting
`2021/10/27 08:01:18 http: TLS handshake error from 10.129.2.2:40908: EOF`
from ignition-server pod

[2022-03-29 10:11] zhujian7 opened #1216 "Nodepool can not be deleted"
Hello team, I am a developer from acm. when I delete a hypershift hostedcluster and nodepool, the hosted cluster is deleted successfully, but the nodepool is stuck in deleting status.

hypershift-operator version: `fe045fd56f45102333417749ad332fab2141f284`

[code]

log of the operator:
[code]
Any advice?

[2022-04-01 20:07] hasueki opened #1222 "Ensure control plane roll out adheres to Kubernetes version skew policy"
Need to ensure that the roll out of control plane components (kube-apiserver, kube-controller-manager, kube-scheduler, etc) on upgrades adheres to the [supported upgrade order](https://kubernetes.io/releases/version-skew-policy/#supported-component-upgrade-order) described under the Kubernetes version skew policy.

On upgrades, CPO will need to make sure all new instances of `kube-apiserver` is fu

[2022-04-01 22:33] rtheis commented on #1222
Do the OpenShift components have similar upgrade order restrictions as they related to each other or Kubernetes that need to be addressed as well?

[2022-04-03 15:15] alvaroaleman opened #1223 "Olm pods should not have `openshift-user-critical` priorityclass"
It has a higher priority than even etcd
/assign

[2022-04-03 15:18] alvaroaleman opened #1224 "Destroy cluster should remove its finalizer when it times out"
/assign

[2022-04-04 15:50] #1224 closed

[2022-04-04 17:52] hasueki commented on #1222
@csrwng do you happen to have any insights regarding Richard's comment above ^?

[2022-04-05 00:17] #1223 closed

[2022-04-08 17:45] #658 closed

[2022-04-08 20:16] alvaroaleman opened #1248 "Machines need to be rotated if the core ignition config changes"
Needs:
* Ignition server restart to clear its cache
* Update the machinedeployment

/assign

[2022-04-09 23:45] #652 closed

[2022-04-13 13:41] RiRa12621 commented on #803
This became somewhat worse since `go get` is fully deprecated by now outside of modules

[code]

[2022-04-14 17:50] #231 closed

[2022-04-17 17:52] #566 closed

[2022-04-18 11:16] rtheis commented on #261
/reopen

[2022-04-18 14:46] relyt0925 opened #1275 "Proper reconcile CNO when it moves to the control-plane-side"
In regards to this PR:
https://github.com/openshift/hypershift/pull/1253

We need to ensure the in cluster CNO is properly reconciled when a cluster moves to having CNO in the control plane

[2022-04-21 19:28] ironcladlou opened #1297 "Proposal: restructure the HostedCluster AWS role API spec"
This is a proposal to refactor the [HostedCluster.Spec.Platform.AWS.Roles](https://github.com/openshift/hypershift/blob/main/api/v1alpha1/hostedcluster_types.go#L777) API field to clarify the contract per  [HOSTEDCP-153](https://issues.redhat.com/browse/HOSTEDCP-153).

One way of restructuring could be:

[code]

This eliminates the leakage of internal details about the underlying secrets the value

[2022-04-21 20:43] csrwng commented on #1297
Sounds good to me, just a nit: we may want to suffix the fields with `Role` instead of `OIDC`

[2022-04-21 20:53] ironcladlou commented on #1297
Do we have any compatibility issues to consider for this?

[2022-04-21 21:05] csrwng commented on #1297
AFAIK no, but we should double check with the ACM team

[2022-04-23 00:00] #711 closed

[2022-04-27 09:35] zhujian7 commented on #1216
I think the reason is I did not use it correctly on the ACM side(removed the owner reference accidentally).
/close

[2022-04-27 09:35] #1216 closed

[2022-05-01 00:06] #718 closed

[2022-05-04 13:58] hasueki opened #1347 "Security: olm-collect-profiles should not have access to all secrets in namespace"
Currently, the `olm-collect-profiles` service account binds a role that gives it read and update access to all secrets in the control plane namespace.
https://github.com/openshift/hypershift/blob/b32f090daae4ecadaf747f8b548ec104fc4e1f65/control-plane-operator/controllers/hostedcontrolplane/olm/assets/olm-collect-profiles.role.yaml

This component should only have access to the `pprof-cert` secret

[2022-05-10 13:07] jwcroppe commented on #401
/remove-lifecycle stale

[2022-05-10 18:36] alvaroaleman commented on #1347
Fixed in https://github.com/openshift/hypershift/pull/1349
/close

[2022-05-10 18:37] #1347 closed

[2022-05-10 19:48] hasueki opened #1371 "Propagate TLS security profile config to kube-controller-manager and kube-scheduler"
In HyperShift, TLS security profiles are configurable for OCP control plane components via the `kind: APIServer` definition from the [cluster configuration](https://github.com/openshift/hypershift/blob/main/docs/content/how-to/cluster-configuration.md) items in the HostedCluster.

Currently, the TLS security profile (CipherSuites and MinTLSVersion) gets honored for the below components:
- kube-api

[2022-05-11 19:58] relyt0925 commented on #1042
I think one good strategy to this is we could *adopt* the existing matchLabels parameter and continue to use that going forward and then just sync all the other fields. This would prevent that issue from occuring (since the field is immutable) and not lead to a full deployment delete/recreate which has the potential to cause downtime on HA components.

[2022-05-12 18:17] #306 closed

[2022-05-13 18:21] csrwng commented on #855
This is expected behavior
/close

[2022-05-13 18:21] #855 closed

[2022-05-13 18:31] hasueki opened #1391 "Configure leader election defaults to follow OpenShift conventions"
Update leader election configs for control plane controllers to align with recommendations from OpenShift conventions: https://github.com/openshift/enhancements/blob/master/CONVENTIONS.md#handling-kube-apiserver-disruption

Based on what I see for what OCP operators are doing, we should address:
- [cluster-autoscaler](https://github.com/openshift/cluster-autoscaler-operator/pull/241)
- [kube-contr

[2022-05-14 12:19] #590 closed

[2022-05-18 15:04] pcrentsil commented on #1391
https://github.ibm.com/alchemy-containers/armada-hypershift-operator/pull/162

[2022-05-21 19:17] rtheis commented on #1041
/remove-lifecycle stale

[2022-05-23 02:03] jwcroppe commented on #399
/remove-lifecycle stale

[2022-05-23 18:33] rtheis commented on #1029
/remove-lifecycle stale

[2022-05-23 19:34] relyt0925 commented on #1020
fixed

[2022-05-23 19:34] #1020 closed

[2022-05-24 23:06] #1222 closed

[2022-05-28 18:28] #810 closed

[2022-05-30 23:36] alvaroaleman commented on #1371
Fixed in https://github.com/openshift/hypershift/pull/1388
/close

[2022-05-30 23:36] #1371 closed

[2022-05-31 14:29] rtheis commented on #1040
/remove-lifecycle stale

[2022-06-03 15:12] relyt0925 opened #1437 "Ensure caching performed (and binary verification) for pulled mco binaries"
Currently in this path:
https://github.com/relyt0925/hypershift/blob/main/ignition-server/controllers/local_ignitionprovider.go#L207-L208

there is no caching performed when pulling the release image for a given nodePool to generate the ignition data. This means that extra calls have to be made to the registry whenever any change or restart happens to an ignition pod.

Instead: we should cache the

[2022-06-03 18:33] #591 closed

[2022-06-03 19:14] hasueki opened #1438 "Support disabling of go profiling for control plane components"
We should disable go profiling for `kube-apiserver`, `kube-controller-manager`, and `kube-scheduler` to follow security best practices highlighted in [CIS benchmark for Kubernetes](https://www.cisecurity.org/benchmark/kubernetes) and [this Red Hat blog](https://cloud.redhat.com/blog/12-kubernetes-configuration-best-practices). It would be a matter of setting `--profiling=false` on these containers

[2022-06-03 19:15] hasueki commented on #1438
/assign @a-dsouza

[2022-06-06 07:48] dharaneeshvrd opened #1439 "LoadBalancer created by Cloud Controller Manager (CCM) is not getting cleaned up when the cluster is deleted."
**Observation:**

- Currently when we create and delete the hypershift cluster, below is the observation,
- Hypershift cluster is created with hypershift cli. Control plane components are set up and running,`service` named `router-default` of type `LoadBalancer` is created in `openshift-ingress` namespace on deployed cluster, CCM creates an external load balancer in the respective cloud for ingres

[2022-06-06 07:48] dharaneeshvrd commented on #1439
/cc @mkumatag

[2022-06-06 09:24] mkumatag commented on #1439
I'm wondering what happens in the other platforms like AWS? Can we quickly check if it is getting cleaned up? if yes - how?

[2022-06-06 10:38] dharaneeshvrd commented on #1439
In AWS case also, LB is not getting cleaned when we delete the hosted cluster.
Could not figure out which component is responsible for create and delete LB in AWS case, since CCM is not involved.

[2022-06-06 10:50] mkumatag commented on #1439
They have in-tree cloud-provider code handling this

[2022-06-06 12:33] #826 closed

[2022-06-08 20:47] jwcroppe commented on #400
/remove-lifecycle rotten

[2022-06-09 10:47] nadavdolin opened #1452 "Failed to create control plane pods on disconnected cluster"
hello,
I try to create a hypershift + kubevirt cluster on disconnected cluster.
i stuck on the stage when on the new namepsace cluster have the 4 pods:
capi-provider, cluster-api, control-plane-operator and ignition-server
after that it need to create more pods for the control plane but it didn't happend.
i don't see any log in the control-plane-operator pod that can help me.
infra OCP version: 4.

[2022-06-09 12:40] rgolangh commented on #1452
@nadavdolin please provide also the hypershift image version or at least the operator digest.

[2022-06-09 15:00] pcrentsil commented on #1391
https://github.com/openshift/hypershift/pull/1423

[2022-06-13 15:26] hasueki commented on #1437
/assign @michael-topchiev

[2022-06-14 00:40] #859 closed

[2022-06-16 14:19] enxebre commented on #1437
@relyt0925 wouldn't/shouldn't this be handle by the registry client?

[2022-06-16 23:36] csrwng commented on #1452
@nadavdolin can you tell whether there were any failures to pull images in the control plane namespace? (a list of events in that namespace may help)

[2022-06-17 18:49] hasueki commented on #1391
New PR: https://github.com/openshift/hypershift/pull/1465

[2022-06-17 18:51] hasueki commented on #408
/close

[2022-06-17 18:52] #408 closed

[2022-06-17 19:00] hasueki commented on #1438
After discussion, we will want the option to disable go profiling for any platform, as well as the flexibility to disable it for any control plane component.

The proposed design is to support a new annotation on the `HostedCluster`/`HostedControlPlane` that will set a string value of a comma-delimited list of "services", or components, to disable profiling on.
[code]

[2022-06-23 09:37] rtheis commented on #1201
/remove-lifecycle stale

[2022-06-23 19:35] a-dsouza commented on #1438
Findings from trying to implement support for disabling profiling for all control plane components:
`clusterpolicy` `cvo` `configoperator` `oauth` `oapi` and `ocm` aren't set to recognize the profiling flag. Upon trying to set profiling to false, all these components experience failures.
`etcd` and `konnectivity` both have a flag to enable profiling, but profiling is disabled as default.
As per th

[2022-06-28 21:59] #1438 closed

[2022-06-28 23:32] relyt0925 opened #1502 "Additional IAM override config: challenge: true"
https://github.com/openshift/hypershift/blob/9fa74e3dcfdf6924aea2687380a97b2f89b23e44/control-plane-operator/controllers/hostedcontrolplane/oauth/params.go#L68

Per the documentation at this page:
https://cloud.ibm.com/docs/openshift?topic=openshift-access_cluster#access_api_key

These steps currently do not work unless the challenge parameter in the identity provider is set to true. In the standa

[2022-06-28 23:35] relyt0925 commented on #1502
Otherwise this flow needs to be adjusted (either on IBM IAM side or RedHat side):
https://github.com/openshift/hypershift/blob/9fa74e3dcfdf6924aea2687380a97b2f89b23e44/control-plane-operator/controllers/hostedcontrolplane/oauth/idp_convert.go#L498-L511

Additionally that challenge override needs to occur after that function is called as that will just overwrite the value

[2022-06-28 23:36] relyt0925 commented on #1502
aka needs to occur after this line:
https://github.com/openshift/hypershift/blob/9fa74e3dcfdf6924aea2687380a97b2f89b23e44/control-plane-operator/controllers/hostedcontrolplane/oauth/idp_convert.go#L360

[2022-06-29 00:57] #937 closed

[2022-06-30 04:09] relyt0925 opened #1510 "Strategy for providing consumer specific machine configuration in hypershift"
Users (and some Red Hat Operators) have the need to apply machine configuration (kernel parameters, files, systemd units, etc) across a pool of machines in order to function appropriately. One tangible use case is telcos are interested in using Red Hat ecosystem components like the Performance Operator to configure huge pages and node configuration for low latency applications. More details provid

[2022-06-30 19:16] hasueki commented on #1502
/assign @hasueki

[2022-07-05 07:00] #397 closed

[2022-07-06 02:33] relyt0925 commented on #1437
@enxebre I think there are multiple solutions that are all valid: my main focus is just on the ultimate goal that the registry traffic is reduced to only making pulls when necessary

[2022-07-06 14:53] mkumatag commented on #400
We have added the support for the PoweVS platform support into the hypershift project and [this code](https://github.com/openshift/hypershift/blob/eba1271e46123b5f528438dbda14383e5f3213d9/hypershift-operator/controllers/nodepool/powervs.go#L78:L91) fetches the right image from the rhcos spec and used for the vm deployments.

[2022-07-07 05:52] #1502 closed

[2022-07-07 08:34] mkumatag commented on #399
Now oc command also enabled to mirror the multi-arch images easily from the quay repo to any other repositories, e.g:

[code]

Release information using the oc adm command:

[code]

docker manifest command to print the manifest

[code]

[2022-07-07 08:36] mkumatag commented on #401
For the powervs platform merged into the hypershift repository uses the code from the https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud and all the required changes are in the repository.

[2022-07-08 19:07] #986 closed

[2022-07-09 05:07] relyt0925 commented on #1510
Some of the more high level use cases customers are interested in:
CPU Pinning with CPU manager
NUMA aware scheduling with memory manager/topology manager.

[2022-07-09 23:30] relyt0925 opened #1538 "IBM Cloud Satellite: Outline supported workflow for user to enable CPU Pinning (CPU Manager), NUMA Aware scheduling (Memory Manager + Topology Manager)"
Various Telco customers have a requirement for the ability to pin their containerized applications to a specific set of CPUs on a specific NUMA node (and ensure the associated memory is tied to that NUMA node as well). This is critical for the low latency high performance nature necessary for these suit of applications.

The IBM Cloud Satellite team needs to outline steps that a user can utilize t

[2022-07-09 23:31] relyt0925 commented on #1538
Potential example file that can help kickstart ideas in the area

[code]

[2022-07-11 09:49] morvencao opened #1540 "Route is not supported for the publishing strategy of Kube API server"
When I try to use the route as the publishing strategy of Kube API server for hypershift hosted cluster, I got the following error in `control-plane-operator`:

[code]

I thought this should be supported in some environment that doesn't support LoadBalancer.

From the [source code](https://github.com/openshift/hypershift/blob/28a33145496ff044abfac50429f9ca1ce2655ec7/control-plane-operator/controll

[2022-07-11 16:59] #1540 closed

[2022-07-14 20:47] a-dsouza opened #1568 "Set maxSurge to 0 for HA control plane deployments"
We need to adjust the `maxSurge` values to prevent downtime when deployment rollouts are restarted during an update as found in: https://github.com/kubernetes/kubernetes/issues/108266
After our discussion with @csrwng this morning, we will set `maxSurge` to 0 for any deployments with replica sets > 1.

This will be a temporary adjustment that can be reverted once the above Kubernetes bug is resolv

[2022-07-14 20:48] a-dsouza commented on #1568
/assign @a-dsouza

[2022-07-15 19:00] a-dsouza commented on #1568
It seems this was already implemented in https://github.com/openshift/hypershift/pull/1403
Cherry-picked PRs:
https://github.com/openshift/hypershift/pull/1570
https://github.com/openshift/hypershift/pull/1571

[2022-07-18 06:59] morvencao opened #1577 "hosted cluster upgrade is always progressing when no worker node is allocated"
Created a hosted cluster with zero worker node, then upgraded openshift version by updating the release image in `hostedcluster` CR, I found the `clusterversion` is always in `Progress`:

[code]

Checking the cluster-version-operator logs:
[code]

Looks like it is caused by the unavailable cluster operators(eg. monitoring, network and service-ca operators), they need running in work node(s). CVO c

[2022-07-21 08:48] mumlawski opened #1596 "CustomResource support for GitOps"
Hi team,

I have been going through the repository and from my understand the only way to configure hypershift clusters is to use a binary.

Is there a way of directly creating CustomResources on the cluster instead of binary? What I mean is to create manually the CustomResourceDefinitions and them add specific cluster CustomResources via i.e. flux so the creation/modifications can be automated an

[2022-07-21 14:57] hasueki opened #1598 "Management cluster capabilities do not check for API resource availability"
Currently, the management cluster capabilities feature only checks if the API group version is registered, and not the individual API resources.

https://github.com/openshift/hypershift/blob/615f5cadf0bc10d7a0df77a87896ca0cecca236a/support/capabilities/management_cluster_capabilities.go#L73

In cases (probably not too likely) where only a subset of the resources within the API group are available

[2022-07-21 16:16] #1568 closed

[2022-07-21 18:10] hasueki opened #1599 "Support configuring private endpoint publishing for ingress controller"
We would like the ability to configure ingress controller with endpoint publishing strategy as [Private](https://github.com/openshift/api/blob/dab5b363ebd164329cca439552339470b2b14ef8/operator/v1/types_ingress.go#L761).

After discussion, we will expose this configuration setting as an annotation on the `HostedCluster`/`HostedControlPlane` CRs. And will be generic to be applicable for any provider

[2022-07-24 23:32] #1598 closed

[2022-07-26 11:45] nadavdolin opened #1615 "additional trusted-bundle CA into the vm not work"
Hello,
I have some issues with hypershift.
I run a hypershift+kubevirt on a disconnected cluster
when the cluster tries to up everything is run well my one problem is that I add for the `hypershift create cluster kubevirt` command the flag: `--additional-trusted-bundle` and he takes it well and creates a configMap with the name `user-ca-bundle` and the pods know to use it but I need it for the VM'

[2022-07-26 12:30] nadavdolin commented on #1452
The new version of hypershift is fix the problem, Thanks!

[2022-07-26 15:09] pcrentsil commented on #1599
Refer to --> https://github.com/openshift/hypershift/pull/1597/files

For up-to-date PR regarding this issue.

[2022-07-28 01:56] hasueki opened #1623 "New HCP API requirements causing deletions to stall if mid-deletion"
In attempt to upgrade the hypershift operator with recent HCP CRD updates..
https://github.com/openshift/hypershift/blob/2aaf56724115082eacfb7e9e18aa01e514dd9200/api/v1alpha1/hosted_controlplane.go#L33
.. it is causing deletions of HostedControlPlane (and of course HostedCluster) to stall, since it is a required field.

In our scenario, we upgraded our hypershift operator to the latest revision (w

[2022-07-28 16:17] #1623 closed

[2022-07-28 23:51] alvaroaleman commented on #1615
/assign @hardys
Can you look into this?

[2022-07-29 11:19] #1596 closed

[2022-07-29 12:46] hasueki opened #1630 "Deprecated global config can only be applied once"
With recent deprecation of HC's `spec.configuration.items[]` fields, https://github.com/openshift/hypershift/pull/1463, when existing HCs are patched with updates on those fields, the changes will never be applied. This means that this API only supports backward compatibility only on the initial apply.

In our scenario, we have HCs that may look like..
[code]
.. when the managing HOs gets updated

[2022-07-30 23:45] relyt0925 commented on #1275
done!

[2022-07-30 23:45] #1275 closed

[2022-07-30 23:45] relyt0925 commented on #1042
done!

[2022-07-30 23:45] #1042 closed

[2022-07-30 23:45] relyt0925 commented on #1182
this has been fixed

[2022-07-30 23:45] #1182 closed

[2022-07-30 23:47] relyt0925 commented on #1021
fixed!

[2022-07-30 23:47] #1021 closed

[2022-07-31 11:43] nadavdolin commented on #1615
Hey @alvaroaleman,I add PR that fix the bug you can look at this #1633

[2022-07-31 12:02] nadavdolin opened #1634 "ignition server authentication not work to add vm's after 24 hours"
Hello,

I have some issues with the hypershift.
I run a hypershift+kubevirt on a disconnected cluster
when I have a hosted cluster that runs fully complete on an infra cluster that disconnected network I want to scale up the worker so I add the number of replicas in the nodePool resource but in the console of the new VM that up I see that he try to get the ignition from the ignition-server pod but

[2022-08-01 13:36] nadavdolin commented on #1634
After a research i found where is the problem, there is in the hosted cluster namespace a secret that contain the name: *1* `user-data-"hostedClusterName"` and a secret: *2* `user-data-"hostedClusterName"-userdata`
I found that the *1* secret is refreshed to the new token authentication but the *2* secret is not and this is the secret that the VM is used to pull the ignition. i check if it somethi

[2022-08-01 19:24] #1103 closed

[2022-08-01 20:23] #1630 closed

[2022-08-01 23:51] #1615 closed

[2022-08-03 11:15] raz-bn commented on #1634
https://github.com/kubernetes-sigs/cluster-api-provider-kubevirt/issues/169
Issue I've opened on the kubevit provider repo.

I think the sercret they are creating with the userdata is created because the key of the original userdata secret is "value" instead of "userdata". I would like to change the secret key to "userdata" and remove the creation of the secret from the kubevirt provider

[2022-08-11 20:49] Joseph-Goergen opened #1675 "Create "None" apiserver audit policy"
It appears that the "None" audit policy is unknown to the apiserver and needs to be added as a known field.

https://github.com/openshift/hypershift/blob/fac98ba04450522324dd07441ab9880988fd76dc/control-plane-operator/controllers/hostedcontrolplane/kas/auditcfg.go#L263-L266

[2022-08-13 19:16] #1675 closed

[2022-08-17 00:33] alvaroaleman commented on #1439
Fixed in #1672
/close

[2022-08-17 00:34] #1439 closed

[2022-08-17 18:55] hasueki commented on #1041
/assign @a-dsouza

[2022-08-22 11:05] rtheis commented on #1029
/remove-lifecycle stale

[2022-08-23 00:02] #1203 closed

[2022-08-23 05:39] dharaneeshvrd opened #1692 "Cluster deletion stuck while deleting with --destroy-cloud-resources param"
Below is the observation after the debugging.

Hosted cluster config operator is waiting for ingresscontroller cluster operator to get deleted
Where I am seeing below finalizer added by hosted-cluster-config-operator.
[code]

But ingresscontroller is throwing below error
`2022-08-22T12:19:50.235Z	ERROR	operator.ingress_controller	controller/controller.go:121got retryable error; requeueing	{"after"

[2022-08-23 06:32] dharaneeshvrd commented on #1692
/cc @csrwng @mkumatag

[2022-08-24 08:42] raz-bn opened #1697 "Creating cluster using the HypershiftDeployment api causing ImagePullBackoff errors"
I am trying to create Hypershift hosted cluster using the [HypershiftDeployment API](https://github.com/stolostron/hypershift-deployment-controller).
I am not sure why this is happening, but when trying to create a cluster using this API Hypershift operator is trying to use components' imaged utilizing this piece of code https://github.com/openshift/hypershift/blob/0f997c1a8a8abd5831ae96ca6eb8f7b4

[2022-08-25 18:38] raz-bn opened #1704 "Add the ability to add roles for nodes created by NodePool"
All nodes created by NodePools are currently created with the role `Worker`.
I would like to have the ability to create nodes with the role `Master` so all the infrastructure pods will be created on them rather than the `Worker` nodes.
This is quite useful since `Master` nodes will usually be of a different size than the `Workers`, and removing `Worker` nodes won't affect any of the cluster infras

[2022-08-30 09:47] rtheis commented on #1040
/remove-lifecycle stale

[2022-08-30 13:49] isco-rodriguez commented on #261
/reopen

[2022-08-30 13:50] isco-rodriguez commented on #261
/remove-lifecycle rotten

[2022-09-06 08:01] #1248 closed

[2022-09-08 09:48] ksingh7 opened #1735 "Nested virtualization support for instances running on cloud infrastructure providers : for Kubevirt"
Hypershift kubevirt type fails if the management OCP cluster instance types does not support nested virtualization, when node-pool-replica flag is used.

Solution : Management OCP cluster (running on hyperscalers) nodes must support nested virtualization

<img width="1788" alt="virt-launcher-hypershift-1-p2dwz-stgq8 · Details · Red Hat OpenShift 2022-09-08 14-28-18" src="https://user-images.github

[2022-09-09 10:09] dharaneeshvrd opened #1738 "Issue in PowerVS cluster deletion cleanup - ingresscontroller cleanup"
Trying to delete powervs cluster with clean up flag `--destroy-cloud-resources`. Where deletion is stuck on ingress-operator on deleting the dnsrecords.

While making GET or POST API to IBM Cloud to retrieve dnsrecord list, getting `EOF` or `net/http: TLS handshake timeout`

`"error": "delete: failed to list the dns record: An error occurred while performing the 'authenticate' step: Post \"https:/

[2022-09-09 10:11] dharaneeshvrd commented on #1738
@csrwng If you could provide any input on this issue, that would be so helpful.

cc @mkumatag

[2022-09-09 13:31] alvaroaleman commented on #1738
AWS and Azure cloud apies are no_proxied for the ingress controller through this: https://github.com/openshift/hypershift/blob/d3bdf54708eb47a5a655121d546fe089cb663de3/konnectivity-socks5-proxy/main.go#L179

I believe @relyt0925 did explicitly not want that for IBM cloud, but I might misremember. cc @hasueki

[2022-09-11 08:01] #803 closed

[2022-09-20 00:01] #1297 closed

[2022-09-22 09:37] rtheis commented on #1201
/remove-lifecycle stale

[2022-09-22 16:24] hasueki commented on #652
/reopen

[2022-09-22 16:25] hasueki commented on #652
/remove-lifecycle rotten

[2022-09-22 16:26] hasueki commented on #652
/reopen

[2022-09-29 10:46] cgwalters opened #1767 "porting needed from `machine-os-content`"
We definitely should have realized this earlier but it seems like hypershift also has references to
the now-legacy `machine-os-content` in e.g.

https://github.com/openshift/hypershift/blob/715a61aad39397272385a020bc09537e6d3c985e/ignition-server/controllers/machineconfigserver_ignitionprovider.go#L229

We're dropping this as part of https://github.com/openshift/enhancements/blob/master/enhancemen

[2022-09-29 10:54] cgwalters commented on #1767
OK in a quick look I've discovered that the equivalent of `bootkube.sh` from openshift/installer is in Go over here https://github.com/openshift/hypershift/blob/main/ignition-server/controllers/local_ignitionprovider.go (neat!)

I think we need the equivalent of
https://github.com/openshift/installer/commit/322d4fef843ec849ab839007d71e134ae31d6e72

Offhand though I'm not sure if we have a way to g

[2022-09-29 11:49] cgwalters commented on #1767
OK I did https://github.com/openshift/installer/pull/6432 related to this, and I think we want to do similar here.

[2022-09-29 12:51] cgwalters commented on #1767
So I started on https://github.com/openshift/hypershift/pull/1768 but there's a surprising amount of layers of stuff here, can anyone who knows the code more pick up this ball?

[2022-09-29 15:21] csrwng opened #1769 "API: powervs platform spec should use Go enum types for fields that are enums"
The following fields have enum values in the CRD definition. However, they don't have their own type declared in the go type definition:

ProcessorType:
https://github.com/openshift/hypershift/blob/f7e79bf1dc7e90000984bf9ffeafa740defbee0a/api/v1alpha1/nodepool_types.go#L382

StorageType:
https://github.com/openshift/hypershift/blob/f7e79bf1dc7e90000984bf9ffeafa740defbee0a/api/v1alpha1/nodepool_typ

[2022-09-29 15:21] csrwng commented on #1769
cc @mkumatag

[2022-09-29 16:11] cgwalters commented on #1767
OK new plan

- Land https://github.com/openshift/machine-config-operator/pull/3354
- Then land https://github.com/openshift/hypershift/pull/1771

thoughts?

[2022-09-30 15:00] cgwalters commented on #1767
Are we good on this since https://github.com/openshift/hypershift/pull/1773 merged?

[2022-10-04 19:49] michael-topchiev commented on #1437
The enhancement is implemented, this issue can be closed.

[2022-10-04 19:52] #1738 closed

[2022-10-15 22:33] arvin-a opened #1806 "Dockerfile needs to use exec form instead of shell form to allow passing of parameters"
With the current shell format in the Dockerfile I am unable to provide parameters to the podman run command.

[code]

The command above works when I change the entrypoint to exec form in the Dockerfile and build a new image.

[code]

The change required in the Dockerfile is from
ENTRYPOINT /usr/bin/hypershift
to
ENTRYPOINT ["/usr/bin/hypershift"]

[2022-10-18 10:39] mjiao opened #1811 "Error: system:serviceaccount:hypershift:operator is attempting to grant RBAC permissions not currently held"
Using the latest hypershift to spawn a OCP on OpenShift virtualization running on bare metal, the following log is generated by the hypershift operator pod:

`{"level":"error","ts":"2022-10-18T09:59:07Z","msg":"Reconciler error","controller":"hostedcluster","controllerGroup":"hypershift.openshift.io","controllerKind":"HostedCluster","hostedCluster":{"name":"testvirt","namespace":"clusters"},"names

[2022-10-20 19:41] #1769 closed

[2022-11-03 20:19] #1599 closed

[2022-11-03 22:28] hasueki opened #1843 "Disable MachineConfig payload in token secret for non-inplace upgrade NodePools"
As result of performance testing at large scale, we noticed that the 4.11 HyperShift clusters running 375 HostedClusters with 12 NodePools each is causing mass KAS OOM kills on the management cluster KAS.

In 4.11, an additional Secret field, `payload`, was introduced in the ignition-server token Secret to support inplace upgrades, https://github.com/openshift/hypershift/pull/1290. This payload in

[2022-11-10 16:13] hasueki commented on #1843
/assign @isco-rodriguez

[2022-11-16 10:41] rtheis commented on #1041
/remove-lifecycle stale

[2022-11-18 16:45] isco-rodriguez opened #1878 "Allow operators to run with reduced list of platform CRDs"
At the moment, the hypershift operator and the control plane operator have issues when reducing the list of platform CRDs due to corresponding watches

e.g.

hypershift operator logs
`{"level":"error","ts":"2022-10-26T14:57:51Z","logger":"controller-runtime.source","msg":"if kind is a CRD, it should be installed before calling Start","kind":"AzureMachineTemplate.infrastructure.cluster.x-k8s.io","e

[2022-11-18 16:49] isco-rodriguez commented on #1878
/assign @isco-rodriguez

[2022-11-18 21:07] #1843 closed

[2022-11-18 23:38] #1806 closed

[2022-11-21 10:39] rtheis commented on #1029
/remove-lifecycle stale

[2022-11-25 09:41] dharaneeshvrd opened #1901 "Issue with etcd on AWS cluster when mgmt cluster does not have gp3-csi storage class"
Tried to deploy AWS guest cluster in IBM Cloud ROKS management cluster.
Where etcd is waiting for pv where pvc failed with below error

`Warning  ProvisioningFailed  58s (x146 over 36m)  persistentvolume-controller  storageclass.storage.k8s.io "gp3-csi" not found
`

Since IBM Cloud ROKS cluster does not have gp3-csi storage class, it failed to provision.

With the recent change of this PR https://

[2022-11-29 01:02] csrwng commented on #1452
/close

[2022-11-29 01:02] #1452 closed

[2022-11-29 10:41] rtheis commented on #1040
/remove-lifecycle stale

[2022-11-29 10:41] rtheis commented on #261
/remove-lifecycle stale

[2022-11-29 22:38] masayag opened #1904 "Incorrect tag name in docs of Deploying AWS private clusters"
The [command](https://github.com/openshift/hypershift/blob/main/docs/content/how-to/aws/deploy-aws-private-clusters.md#access-a-private-hostedcluster) to find private node IP addresses by a filter should use $INFRA_ID instead of $CLUSTER_NAME in the tag name:
[code]
While in fact, the name of the created tag is the `kubernetes.io/cluster/$INFRA_ID`